<script lang="ts">
	import { fade, slide } from 'svelte/transition';
	import SearchBox from '../../../components/SearchBox.svelte';
	import ChartList from '../../../components/ChartList.svelte';
	import { airportIcaos, bodyscroll } from '../../../stores';
	import { onMount } from 'svelte';
	import { browser } from '$app/environment';

	export let data: { airport: string };

	interface ChartType {
		name: string;
		regex: RegExp;
	}

	interface ChartType {
		name: string;
		regex: RegExp;
		tag: boolean;
	}

	async function openDoc(link: string) {
		if (viewWidth < 670) open(link, '_self');
		else {
			openDocLink = link;
			$bodyscroll = false;
		}
	}

	async function closeDoc() {
		openDocLink = null;
		$bodyscroll = true;
	}

	async function selectAirport(airportIcao: string, _redirect = true) {
		if (!browser) return;
		showHeader = false;
		var r = document.querySelector(':root');
		var selectorButtonsContainer1 = document.getElementById('selectorButtonsContainer1')!;
		selectorButtonsContainer1.style.marginTop = '0';
		var chartsContainer = document.getElementById('chartsContainer')!;
		chartsContainer.style.marginTop = '70px';
		(r! as HTMLElement).style.setProperty('--extra-bottom', '172px');
		selIcao = airportIcao;
		selAirportName = null;
		selRunway = null;
		selChartType = chartTypes[0];
		getAirportInfo(selIcao).then((info) => {
			if (!info) return;
			selAirportName = info.name;
			selAirportRunways = info.runways.map((rwy: any) => {
				let designator = rwy.designations ? rwy.designations : rwy.designation;
				designator = designator.length === 2 ? designator : '0' + designator;
				return designator;
			});
			selAirportRunways = [null, ...selAirportRunways];
		});
	}

	async function getAirportInfo(icao: string): Promise<any | null> {
		if (icao.length != 4) return null;
		const info = await (await fetch('https://navdata.vatsim.pt/api/aerodromes/' + icao)).json();
		return info;
	}

	let chartTypes: ChartType[] = [];

	interface Chart {
		name: string;
		link: string;
	}

	let viewWidth: number;
	let showSelAirport = false;
	let showSelChartType = false;
	let showFiltersDrawer = false;
	let selIcao: null | string = null;
	let selAirportName: null | string = null;
	let selAirportRunways: (string | null)[] = [];
	let selChartType: ChartType = chartTypes[0];
	let selRunway: string | null = null;
	let charts: Chart[] = [];
	let chartQuery: string = '';
	let openDocLink: string | null;
	let showHeader: boolean = true;

	if (data.airport !== 'all') {
		selIcao = data.airport;
		selectAirport(data.airport);
		selChartType = { name: 'All', regex: /.*/gm, tag: false };
	} else {
		setTimeout(async () => {
			showSelAirport = true;
		}, 50);
	}

	onMount(async () => {
		document.addEventListener('keyup', (e) => {
			if (e.key === 'Escape') {
				closeDoc();
			}
		});
	});
</script>

<svelte:window bind:innerWidth={viewWidth} />

{#if openDocLink}
	<div id="openDocViewerContainer1" in:fade={{ duration: 100 }} out:fade={{ duration: 150 }}>
		<div id="openDocViewerContainer2">
			<iframe src={openDocLink} id="openDocViewer" title="Document Viewer" />
			<button id="openDocViewerCloseButton" on:click={closeDoc}>
				<i class="bi bi-x-lg" />
			</button>
		</div>
	</div>
{/if}

<pagebody>
	{#if showHeader}
		<div id="headerContainer" out:slide={{ duration: 300 }}>
			<h1 id="titleText" class="title"><b>Charts</b> database</h1>
			<p id="descriptionText" class="description">
				Here you can find all the charts you need to fly (and control) the Portuguese airspace.
				<b>For simulation use only.</b>
			</p>
		</div>
	{/if}
	<div id="selectorButtonsContainer1">
		<div id="selectorButtonsContainer2">
			<button
				id="AirportICAOSelector"
				class="bigButton"
				style={showSelAirport ? 'background-color: black !important;' : ''}
				on:click={() => (showSelAirport = showSelAirport ? false : true)}
			>
				{#if !selIcao}
					<p class="buttonTitle" style="font-size: 15px; font-weight: 400; letter-spacing: 0.5px">
						Select a facility
					</p>
				{:else}
					<p class="buttonTitle">{selIcao}</p>
					<p class="buttonDescription">
						{selIcao === 'ENROUTE'
							? 'Portuguese Airspace'
							: selAirportName
								? selAirportName
								: '. . .'}
					</p>
				{/if}
				{#if showSelAirport}
					<div
						class="selPopupContainer"
						in:slide={{
							duration: 400
						}}
						out:slide={{
							duration: 400
						}}
					>
						<div class="selPopup">
							{#each $airportIcaos as airportIcao}
								<button
									class="selOptionBtn"
									on:click={async () => {
										selectAirport(airportIcao);
									}}>{airportIcao}</button
								>
							{/each}
						</div>
					</div>
				{/if}
			</button>

			{#if selIcao && selIcao.length === 4}
				{(() => {
					return '';
				})()}
				<button
					id="filterDrawerContainer"
					class="bigButton exposedButton"
					style={showFiltersDrawer ? 'background-color: black !important;' : ''}
				>
					<button
						class="clickableArea"
						on:click={() => {
							showFiltersDrawer = showFiltersDrawer
								? false
								: (() => {
										document.getElementById('filterDrawerContainer')?.focus();
										return true;
									})();
						}}
					>
						<p class="buttonTitle">Filters</p>
						<p class="buttonDescription">Chart Filters</p>
					</button>

					{#if showFiltersDrawer}
						<div
							class="selPopupContainer"
							in:slide={{
								duration: 400
							}}
							out:slide={{
								duration: 400
							}}
						>
							<div class="selPopup">
								<button
									id="chartTypeSelector"
									class="bigButton mediumButton filterButton"
									style="position: static"
									on:click={() => (showSelChartType = showSelChartType ? false : true)}
								>
									{#if !selChartType}
										<p class="buttonTitle" style="font-size: 13px">Select a chart type...</p>
									{:else}
										<p class="buttonTitle">{selChartType.name}</p>
										<p class="buttonDescription">Chart Type</p>
									{/if}

									<div class="selPopupContainer">
										<div class="selPopup">
											{#each chartTypes as chartType}
												{#if chartType.name === selChartType.name}
													<button
														class="selOptionBtn selOptionBtnActive"
														on:click={async () => {
															selChartType = chartType;
														}}>{chartType.name}</button
													>
												{:else}
													<button
														class="selOptionBtn"
														on:click={async () => {
															selChartType = chartType;
														}}>{chartType.name}</button
													>
												{/if}
											{/each}
										</div>
									</div>
								</button>
								<button
									id="runwaySelector"
									class="bigButton mediumButton filterButton"
									on:click={() => (showSelChartType = showSelChartType ? false : true)}
								>
									{#if !selChartType}
										<p class="buttonTitle" style="font-size: 13px">Select a chart type...</p>
									{:else}
										<p class="buttonTitle">
											{selRunway ? 'RWY' + selRunway : 'All'}
										</p>
										<p class="buttonDescription">Runway</p>
									{/if}

									<div class="selPopupContainer">
										<div class="selPopup">
											{#each selAirportRunways as runway}
												{#if selRunway === runway}
													<button
														class="selOptionBtn selOptionBtnActive"
														on:click={async () => {
															selRunway = runway;
														}}>{runway ? 'RWY' + runway : 'All'}</button
													>
												{:else}
													<button
														class="selOptionBtn"
														on:click={async () => {
															selRunway = runway;
														}}>{runway ? 'RWY' + runway : 'All'}</button
													>
												{/if}
											{/each}
										</div>
									</div>
								</button>
							</div>
						</div>
					{/if}
				</button>
			{/if}
		</div>
	</div>
	<div id="chartsContainer">
		{#if charts.length > 0}
			<div id="searchBoxContainer">
				<SearchBox bind:input={chartQuery} />
			</div>
		{/if}
		<div id="chartsContainer2">
			<ChartList
				icao={selIcao === 'ENROUTE' ? 'enroute' : selIcao}
				chartType={selChartType}
				rwy={selRunway}
				query={chartQuery}
				bind:chartTypes
				bind:charts
				on:open={async (e) => {
					openDoc(e.detail.link);
				}}
			/>
		</div>
	</div>
</pagebody>

<style>
	*:focus {
		outline: none;
	}

	pagebody {
		padding-top: 20px;
		max-width: 800px;
		display: block;
	}

	#openDocViewerCloseButton {
		position: absolute;
		bottom: 50px;
		right: 50px;
		width: 35px;
		height: 35px;
		color: white;
		background-color: black;
		border: 1px solid rgb(112, 112, 112);
		border-radius: 10px;
		transition: all 0.1s;
	}

	#openDocViewerCloseButton:hover {
		background-color: rgb(174, 174, 174);
		color: black;
	}

	#openDocViewer {
		height: 100%;
		width: 100%;
		border-radius: 15px;
		box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.254);
		outline: 1px rgb(125, 125, 125) solid;
	}

	#openDocViewerContainer1 {
		position: fixed;
		top: 25px;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.318);
		z-index: 100;
	}

	#openDocViewerContainer2 {
		height: 100%;
		width: 100%;
		padding: 40px 15px;
	}

	#filterDrawerContainer {
		min-height: 59.5px;
	}

	#searchBoxContainer {
		margin-bottom: 10px;
	}

	.exposedButton {
		padding-top: 9px !important;
		padding-bottom: 9px !important;
	}

	.clickableArea {
		width: 100%;
		background-color: transparent;
		border: none;
	}

	/* .filterButton {
    
  } */

	.description {
		color: rgba(255, 255, 255, 0.696);
		margin-bottom: 20px !important;
	}

	#chartsContainer {
		margin-top: 115px;
	}

	#chartsContainer2 {
		height: calc(100vh - 465px + var(--extra-bottom));
		overflow-y: auto;
	}

	.mediumButton {
		min-width: 113px !important;
		max-width: none !important;
	}

	.bigButton {
		background-color: rgba(0, 0, 0, 0.733);
		border: 1px rgba(255, 255, 255, 0.133) solid;
		border-radius: 15px;
		min-width: 130px;
		flex: 1;
		text-decoration: none;
		text-align: center;
		align-items: center;
		padding: 10px 0px 10px 0px;
		transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
		max-width: 395px;
	}

	.buttonTitle {
		margin-bottom: 0;
		font-size: 15px;
		font-weight: 600;
		color: white;
	}

	/* .selectorContainer {
    display: flex;
    flex: 1;
  } */

	.filterButton {
		display: flex;
		flex-direction: column;
	}

	.buttonDescription {
		margin-bottom: 0;
		color: rgb(128, 128, 128);
		font-size: 10px;
	}

	.selPopupContainer {
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
	}

	.selPopup {
		display: flex;
		padding: 20px 20px 0px 20px;
		padding-bottom: 0;
		align-content: flex-end;
		flex-wrap: wrap;
		border-radius: 10px;
		gap: 10px;
		justify-content: center;
		flex-direction: row;
		align-items: stretch;
	}

	#selectorButtonsContainer1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100vw;
		min-width: 350px;
		gap: 10px;
		position: absolute;
		left: 0;
		margin-top: 25px;
		align-items: flex-start;
		padding: 0 10% 0 10%;
	}

	#selectorButtonsContainer2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		gap: 10px;
		left: 0;
		align-items: flex-start;
		max-width: 800px;
	}

	/* @media screen and (max-width: 700px) {
		:global(#selectorButtonsContainer1) {
			width: calc(100% - 11.42857%) !important;
			min-width: 345px !important;
			padding-right: 11.42857% !important;
		}
	} */

	.selOptionBtn {
		background-color: #4444449c;
		border: none;
		color: white;
		padding: 0px 10px 0px 10px;
		border: rgba(255, 255, 255, 0.146) 1px solid;
		border-radius: 5px;
		transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		font-size: 13px;
		flex: 1;
		min-width: 100px;
	}

	.selOptionBtn:hover,
	.selOptionBtnActive {
		background-color: rgb(191, 191, 191);
		color: black;
		transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
</style>
