<script lang="ts">
	import { browser } from '$app/environment';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';
	import { getUserData } from '../../stores';
	import type { JWT } from '@auth/core/jwt';
	import gsap from 'gsap';
	import { fade, slide } from 'svelte/transition';
	import { expoOut } from 'svelte/easing';

	interface BookingPost {
		client_id: number;
		network: string;
		type: 'booking' | 'training' | 'exam';
		mentor_client_id: number;
		call_sign: string;
		start_datetime: string;
		end_datetime: string;
		id: string;
	}

	interface Booking extends BookingPost {
		created_at: string;
		last_updated: string;
	}

	interface prerenderBooking {
		row: number;
		col: number;
		len: number;
		subrow: number;
		booking: Booking;
	}

	interface Row {
		callsign: string;
		bookings: prerenderBooking[];
		lenused: number;
		subrow_count: number;
	}

	interface BookingBox {
		top: number;
		bottom: number;
		left: number;
		right: number;
		booking: Booking;
	}

	var bookings: Booking[] = [];

	var hoveredBooking: Booking | null = null;
	var clickedBooking: Booking | null;
	var clickedBookingBox: HTMLElement | null;
	var latestHoveredBox: HTMLElement | null;
	var hoveredRow: number | undefined = undefined;
	var hoveredCol: number | undefined = undefined;
	var lastHoverAnimation: number = -1;

	var showGuidelinesPopup: boolean = false;
	var onAcceptGuidelines: () => any = () => {};
	var onDenyGuidelines: () => any = () => {};
	var bookingGuidelines: string[] = [
		'Each controller shall only book <b>one position at a time</b>',
		'Each booking should be <b>limited to 2 hours</b> duration',
		'Bookings should <b>not be made close to the intended time</b> to control'
	];

	var calendar_start_date: Date;
	var calendar_start: number;
	var calendar_end_date: Date;
	var calendar_end: number;
	var prerenderedBookings: prerenderBooking[] = [];
	var pps: number = 45 / (60 * 60); //Pixels Per Second (45/(60^2) -> 45 pixels per hour)
	var box_height: number = 28;
	var box_margin: number = 6;
	var minimum_pps: number = 45 / (60 * 60);
	var weird_pixel_glitch = 1;

	const month_index_to_name = [
		'January',
		'February',
		'March',
		'April',
		'May',
		'June',
		'July',
		'August',
		'September',
		'October',
		'November',
		'December'
	];

	const today = new Date();
	today.setUTCFullYear(new Date().getUTCFullYear());
	today.setUTCMonth(new Date().getUTCMonth());
	today.setUTCDate(new Date().getUTCDate());
	today.setUTCHours(0);
	today.setUTCMinutes(0);
	today.setUTCSeconds(0);
	setCalendarDates(today);

	var rows: Row[] = [];
	// const bookings_address = 'http://localhost:6560';
	// const bookings_address = 'https://bookings.vatsim.pt';
	const bookings_address = $page.data.bookings_address;
	//@ts-ignore
	var userdata: any | null = null;
	// const userdata = null;

	async function confirmGuidelines(): Promise<boolean> {
		return new Promise(async (resolve, reject) => {
			showGuidelinesPopup = true;
			onAcceptGuidelines = async () => {
				resolve(true);
			};
			onDenyGuidelines = async () => {
				resolve(false);
			};
		});
	}

	function toUnix(timestamp: string) {
		return new Date(timestamp).getTime() / 1000;
	}

	function now(): Date {
		return new Date();
	}

	async function getBookingsFuture(): Promise<Booking[]> {
		const url = `${bookings_address}/api/v1/bookings/future`;
		const response = await fetch(url);
		var bookings = (await response.json()) as Booking[];
		return bookings;
	}

	async function getBookings(start_unix: number, end_unix: number): Promise<Booking[]> {
		const url = `${bookings_address}/api/v1/bookings/date?iso=${new Date(calendar_start_date.getTime()).toISOString().split('T')[0]}`;
		const response = await fetch(url);
		var bookings = (await response.json()) as Booking[];
		bookings = bookings
			.filter((value) => {
				var booking_start = new Date(value.start_datetime).getTime() / 1000;
				var booking_end = new Date(value.end_datetime).getTime() / 1000;

				var fitsTimeframe =
					(start_unix <= booking_start && end_unix > booking_start) ||
					(start_unix < booking_end && end_unix >= booking_end);

				return fitsTimeframe;
			})
			.sort((a, b) => new Date(a.start_datetime).getTime() - new Date(b.start_datetime).getTime());
		return bookings;
	}

	async function setCalendarDates(start: Date) {
		calendar_start_date = start;
		calendar_start = calendar_start_date.getTime() / 1000;
		calendar_end_date = new Date();
		calendar_end_date.setUTCFullYear(start.getUTCFullYear());
		calendar_end_date.setUTCMonth(start.getUTCMonth());
		calendar_end_date.setUTCDate(start.getUTCDate());
		calendar_end_date.setUTCHours(23);
		calendar_end_date.setUTCMinutes(59);
		calendar_end_date.setUTCSeconds(59);
		calendar_end = calendar_end_date.getTime() / 1000;
	}

	async function updateCalendar() {
		hoveredBooking = null;
		clickedBooking = null;
		clickedBookingBox = null;
		var calendarBoxesContainer = document.getElementById('calendarBoxesContainer')!;
		const horizontalScroll = calendarBoxesContainer.scrollLeft;
		pps =
			calendarBoxesContainer?.clientWidth / (24 * 60 * 60) > minimum_pps
				? calendarBoxesContainer?.clientWidth / (24 * 60 * 60)
				: minimum_pps;
		prerenderedBookings = [];
		var _prerenderedBookings: prerenderBooking[] = [];
		var _rows: Row[] = [];
		bookings = await getBookings(calendar_start, calendar_end);
		console.log(calendar_start_date, calendar_start, calendar_end_date, calendar_end);
		bookings = bookings
			.sort((a, b) => toUnix(a.start_datetime) - toUnix(b.start_datetime))
			.filter(
				(b) => toUnix(b.end_datetime) > calendar_start && toUnix(b.start_datetime) < calendar_end
			);
		var i = 0;
		for (var booking of bookings) {
			console.log(booking);
			var _rowIndex = _rows.findIndex((value) => value.callsign == booking.call_sign);
			if (_rowIndex < 0) {
				_rowIndex = _rows.length;
				_rows.push({
					callsign: booking.call_sign,
					bookings: [],
					lenused: 0,
					subrow_count: 0
				});
			} // new callsign
			var _len = (toUnix(booking.end_datetime) - toUnix(booking.start_datetime)) * pps + 1;
			let subRowIndex = 0;
			while (true) {
				let overlapping = false;
				let bookingsInSubRow = _rows[_rowIndex].bookings.filter((v) => v.subrow == subRowIndex);
				if (bookingsInSubRow.length == 0) _rows[_rowIndex].subrow_count++;
				for (let preBooking of bookingsInSubRow) {
					if (
						(toUnix(preBooking.booking.start_datetime) <= toUnix(booking.start_datetime) &&
							toUnix(booking.start_datetime) <= toUnix(preBooking.booking.end_datetime)) ||
						(toUnix(preBooking.booking.start_datetime) <= toUnix(booking.end_datetime) &&
							toUnix(booking.end_datetime) <= toUnix(preBooking.booking.end_datetime)) ||
						(toUnix(booking.start_datetime) <= toUnix(preBooking.booking.start_datetime) &&
							toUnix(preBooking.booking.end_datetime) <= toUnix(booking.end_datetime))
					) {
						subRowIndex++;
						overlapping = true;
					}
				}
				if (!overlapping) break;
			}
			const col =
				(toUnix(booking.start_datetime) - calendar_start) * pps - _rows[_rowIndex].lenused;
			const realcol = Math.max(0, col);
			const aftcut = Math.abs(col - realcol);
			if (aftcut != 0) console.log(col, realcol, aftcut);

			// const len = _len - (realcol - col);
			_rows[_rowIndex].bookings.push({
				booking: booking,
				row: (_rowIndex - i) * box_height + 10 * i, // 10*i fixes weird offset
				col: col + aftcut,
				subrow: subRowIndex,
				len: _len - aftcut
			});
			_rows[_rowIndex].lenused += _len - aftcut;
			i++;
		}
		rows = _rows;
		console.log(rows);
		// centerCalendar();
		moveTimeCursor(now());
		calendarBoxesContainer.scrollLeft = 0;
		var calendarBoxesContainer = document.getElementById('calendarBoxesContainer')!;
		if (calendarBoxesContainer)
			calendarBoxesContainer.scrollBy({ top: 0, left: horizontalScroll, behavior: 'instant' });
	}

	async function centerCalendar() {
		var calendarBoxesContainer = document.getElementById('calendarBoxesContainer')!;
		if (calendarBoxesContainer)
			calendarBoxesContainer.scrollBy({ top: 0, left: pps * 24 * 60 * 60, behavior: 'instant' });
	}

	async function scrollCalendar(left: number) {
		var calendarBoxesContainer = document.getElementById('calendarBoxesContainer')!;
		if (calendarBoxesContainer)
			calendarBoxesContainer.scrollBy({
				top: 0,
				left: left - calendarBoxesContainer.scrollLeft,
				behavior: 'instant'
			});
	}

	async function handleHoverBoxes(event: MouseEvent) {
		const { target, x, y } = event;
		const hoverBoxesContainer = document.getElementById('hoverBoxesContainer')!;
		var _hoveredBooking: Booking | null = null;
		var _clickedBooking: Booking | null = clickedBooking;
		var _clickedBookingBox: HTMLElement | null = clickedBookingBox;
		var _latestHoveredBox: HTMLElement | null = latestHoveredBox;
		var isHoveringAnyBox: boolean = false;
		var animationDuration: number = 0;
		var hoverAnimation: number = 0;
		const hoverBoxRect = hoverBoxesContainer.getBoundingClientRect();
		const isHoveringHoverBox =
			event.clientX >= hoverBoxRect.left &&
			event.clientX <= hoverBoxRect.right &&
			event.clientY >= hoverBoxRect.top &&
			event.clientY <= hoverBoxRect.bottom;

		for (const row of document.getElementsByClassName('rowBoxesContainer')) {
			var i = 0;
			for (const boxContainer of row.children) {
				if (boxContainer.children.length == 0) continue; //is time cursor
				const box = boxContainer.children[0] as HTMLElement;
				const bookingRect = box.getBoundingClientRect();
				const _booking = bookings.find(
					(booking) => booking.id == box.getAttribute('data-bookingid')
				)!;

				const isHoveringBox =
					event.clientX >= bookingRect.left &&
					event.clientX <= bookingRect.right &&
					event.clientY >= bookingRect.top &&
					event.clientY <= bookingRect.bottom;

				isHoveringAnyBox = isHoveringBox || isHoveringAnyBox;
				if (
					event.type == 'mousedown' &&
					isHoveringBox &&
					clickedBooking?.id != _booking?.id &&
					!isHoveringHoverBox &&
					_booking.client_id == userdata?.cid
				) {
					_clickedBooking = _booking;
					_clickedBookingBox = box as HTMLElement;
					animationDuration = 0.3;
					hoverAnimation = 1;
				}

				var borderWidth: number = 1;
				var scale: number = 1;

				if (isHoveringBox && !isHoveringHoverBox) {
					_latestHoveredBox = box as HTMLElement;
					if (_booking.client_id == userdata?.cid) borderWidth = 3;
					hoveredRow = bookingRect.bottom + window.scrollY;
					hoveredCol = x - (hoverBoxesContainer as HTMLElement).offsetWidth / 2;
					_hoveredBooking = _booking;
				} else {
					borderWidth = 1;
				}

				// if (clickedBooking?.id == _booking.id) {
				// 	borderWidth = 3;
				// }

				(box as HTMLElement).style.borderWidth = `${borderWidth}px`;
				(box as HTMLElement).style.scale = `${scale}`;
			}
			i++;
		}

		latestHoveredBox = _latestHoveredBox;
		// if (isHoveringHoverBox && event.button == 2) {
		// 	event.preventDefault();
		// 	hoveredBooking = null;
		// }

		// if (isHoveringHoverBox && latestHoveredBox && hoveredBooking?.client_id == userdata?.cid) {
		// 	_hoveredBooking = hoveredBooking;
		// }

		if (event.type == 'mousedown' && !(isHoveringAnyBox || isHoveringHoverBox)) {
			_clickedBooking = null;
		}
		clickedBooking = _clickedBooking;
		clickedBookingBox = _clickedBookingBox;

		if (clickedBooking && clickedBookingBox) {
			hoveredBooking = _clickedBooking!;
			hoveredRow = clickedBookingBox!.getBoundingClientRect().bottom + window.scrollY;
			hoveredCol =
				clickedBookingBox!.getBoundingClientRect().left +
				clickedBookingBox!.offsetWidth / 2 -
				hoverBoxesContainer.offsetWidth / 2;
		} else {
			if (hoverBoxesContainer.offsetWidth == 0) hoverBoxesContainer.style.height = '0px';
			else hoverBoxesContainer.style.height = '';
			hoveredBooking = _hoveredBooking;
		}

		if (hoveredRow != undefined) {
			if (hoverAnimation == 1 && lastHoverAnimation == 1) return;
			gsap.to(hoverBoxesContainer, {
				x: hoveredCol! - (hoverAnimation == 1 ? 3.5 : 0),
				y: hoveredRow,
				duration: animationDuration,
				delay: 0,
				ease: 'power4.out'
			});
		}
		hoverAnimation = lastHoverAnimation;
	}

	async function futureBookingsByDay() {
		const bookings = await getBookingsFuture();
		// debugger;
		type DateMonthPair = [string, number];
		let booking_groups: [DateMonthPair, Booking[]][] = [];
		for (const booking of bookings) {
			const date_start = new Date(booking.start_datetime);
			const date_month_pair: DateMonthPair = [
				month_index_to_name[date_start.getUTCMonth()],
				date_start.getDate()
			];

			const existing_group_index = booking_groups.findIndex(
				(v) => date_month_pair[0] == v[0][0] && date_month_pair[1] == v[0][1]
			);

			if (existing_group_index > -1) {
				booking_groups[existing_group_index][1].push(booking);
			} else {
				booking_groups.push([date_month_pair, [booking]]);
			}
		}
		return booking_groups;
	}

	onMount(async () => {
		userdata = await getUserData();
		window.addEventListener('resize', () => {
			updateCalendar();
		});
		await updateCalendar();
		moveTimeCursor(now());
		centerCalendar();
		window.addEventListener('mousemove', handleHoverBoxes);
		window.addEventListener('mousedown', handleHoverBoxes);
		window.setInterval(async () => moveTimeCursor(now()), 1000);
	});

	async function patchBoooking(booking: BookingPost) {
		const options = {
			method: 'PATCH',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(booking)
		};

		await fetch(`${bookings_address}/api/v1/bookings/${booking.id}`, options);
	}

	async function submitBooking() {
		var FAILED = false;
		const button = document.getElementById('createBookingSubmitButton') as HTMLElement;
		const resetButton = () => {
			button.classList.remove('btn-outline-light');
			button.classList.remove('btn-outline-danger');
			button.classList.remove('btn-success');
		};

		if (!(await confirmGuidelines())) {
			FAILED = true;
			button.innerText = 'Guidelines not Accepted';
		}

		if (!userdata) {
			FAILED = true;
			button.innerText = 'Not Logged In';
		}

		const CID = userdata?.cid;

		const ecallsign = document.getElementById('bookingCallsignInput')! as HTMLInputElement;
		const callsign = ecallsign.value;
		if (callsign == '') {
			ecallsign.classList.add('is-invalid');
			FAILED = true;
		} else ecallsign.classList.remove('is-invalid');

		const esessionType = document.getElementById('bookingTypeSelect')! as HTMLSelectElement;
		const sessionType = esessionType.value;
		if (sessionType == '') {
			esessionType.classList.add('is-invalid');
			FAILED = true;
		} else esessionType.classList.remove('is-invalid');

		const eserver = document.getElementById('bookingServerSelect')! as HTMLSelectElement;
		const server = eserver.value;
		if (server == '') {
			eserver.classList.add('is-invalid');
			FAILED = true;
		} else eserver.classList.remove('is-invalid');

		const estartDate = document.getElementById('startDateSelect')! as HTMLInputElement;
		const startDate = estartDate.value;
		if (startDate == '') {
			estartDate.classList.add('is-invalid');
			FAILED = true;
		} else estartDate.classList.remove('is-invalid');

		const estartTime = document.getElementById('startTimeSelect')! as HTMLInputElement;
		const startTime = estartTime.value;
		if (startTime == '') {
			estartTime.classList.add('is-invalid');
			FAILED = true;
		} else estartTime.classList.remove('is-invalid');

		const eendDate = document.getElementById('endDateSelect')! as HTMLInputElement;
		const endDate = eendDate.value;
		if (endDate == '') {
			eendDate.classList.add('is-invalid');
		} else eendDate.classList.remove('is-invalid');

		const eendTime = document.getElementById('endTimeSelect')! as HTMLInputElement;
		const endTime = eendTime.value;
		if (endTime == '') {
			eendTime.classList.add('is-invalid');
			FAILED = true;
		} else eendTime.classList.remove('is-invalid');

		if (!FAILED) {
			try {
				const bd = JSON.stringify({
					client_id: CID,
					network: server,
					type: sessionType,
					mentor_client_id: 0,
					call_sign: callsign,
					start_datetime: `${startDate}T${startTime}:00.000Z`,
					end_datetime: `${endDate}T${endTime}:00.000Z`
				});
				const result = await fetch(`${$page.data.bookings_address}/api/v1/bookings`, {
					method: 'POST',
					body: bd,
					headers: {
						'content-type': 'application/json'
					}
				});
				if (!(result.status >= 200 && result.status < 300)) {
					FAILED = true;
					button.innerText = `Error ${result.status}`;
				}
			} catch {
				FAILED = true;
			}
		}

		if (FAILED) {
			resetButton();
			button.classList.add('btn-outline-danger');
		} else {
			resetButton();
			button.classList.add('btn-success');
			button.setAttribute('disabled', '');
			button.innerText = 'Success!';
			setTimeout(() => {
				location.reload();
			}, 500);
		}
	}

	function formatFilled(n: number) {
		var s = n.toString();
		if (s.length == 1) s = `0${s}`;
		return s;
	}

	function bookingColor(booking: Booking, shadow: boolean = false) {
		if (booking.type == 'booking') return !shadow ? 'rgb(88, 125, 176)' : 'rgba(88, 125, 176, 0.5)';
		// return !shadow ? 'rgb(0, 220, 255, 0.8)' : 'rgba(0, 80, 101, 0.5)';
		// return !shadow ? 'rgb(250, 250, 250, 0.8)' : 'rgb(255 255 255 / 10%)';
		// if (booking.type == 'exam') return !shadow ? 'red' : 'rgba(101, 0, 0, 0.2)';
		if (booking.type == 'exam')
			return !shadow ? 'rgba(179, 31, 255, 0.8)' : 'rgba(179, 31, 255, 0.3)';
		if (booking.type == 'training') return !shadow ? 'rgb(0, 151, 254)' : 'rgba(0, 151, 254, 0.2)';
	}

	if (browser) {
		centerCalendar();
	}

	function zullu(date: Date) {
		return `${formatFilled(date.getUTCHours())}${formatFilled(date.getUTCMinutes())}`;
	}

	async function bookingBoxInput(
		ev: Event,
		attr: 'CALLSIGN' | 'START' | 'END' | 'TYPE' | 'NETWORK',
		booking: Booking | null
	) {
		booking = booking as Booking;
		const target = ev.target as HTMLInputElement;
		const v = target.value;
		let good: boolean = true;
		if (attr == 'CALLSIGN') {
			booking.call_sign = v;
		} else if (attr == 'START' || attr == 'END') {
			const match = v.match(/(?:[0-1][0-9]|2[0-4])(?:[0-5][0-9])/gm);
			if (match && match.length > 0) {
				switch (attr) {
					case 'START':
						var date = new Date(booking.start_datetime);
						break;
					case 'END':
						var date = new Date(booking.end_datetime);
						break;
				}
				date.setUTCHours(parseInt(v.slice(0, 2)));
				date.setUTCMinutes(parseInt(v.slice(2, 4)));
				switch (attr) {
					case 'START':
						booking.start_datetime = date.toISOString().slice(0, -1);
						break;
					case 'END':
						booking.end_datetime = date.toISOString().slice(0, -1);
						break;
				}
			} else good = false;
		} else if (attr == 'TYPE') {
			const match = v.match(/BOOKING|EXAM|TRAINING/gm);
			if (match && match.length > 0) {
				booking.type = v.toLowerCase() as 'booking' | 'training' | 'exam';
			}
		} else if (attr == 'NETWORK') {
			booking.network = v.toLowerCase();
		}

		// await patchBoooking({
		// 	client_id: booking.client_id,
		// 	network: booking.network,
		// 	type: booking.type,
		// 	mentor_client_id: booking.mentor_client_id,
		// 	call_sign: booking.call_sign,
		// 	start_datetime: booking.start_datetime,
		// 	end_datetime: booking.end_datetime,
		// 	id: booking.id
		// });

		if (!good) {
			target.value = v;
		}

		// if (good) {
		// 	target.blur();
		// 	if (target) target.setAttribute('size', `${target.value.length}`);
		// 	var calendarBoxesContainer = document.getElementById('calendarBoxesContainer')!;
		// 	var scrollLeft = `${calendarBoxesContainer.scrollLeft}`;
		// 	await updateCalendar();
		// 	scrollCalendar(parseInt(scrollLeft));
		// }
	}

	async function moveTimeCursor(date: Date) {
		const cursors = [...document.getElementsByClassName('currTimeCursor')] as HTMLElement[];
		cursors.forEach(async (cursor) => {
			cursor.style.left = `${
				pps * (date.getUTCHours() * 60 * 60 + date.getUTCMinutes() * 60 + date.getSeconds())
			}px`;
		});
	}

	async function bookingConfirmEdit(ev: MouseEvent) {
		const target: HTMLElement = ev.target as HTMLElement;
		const hoverBox = target.parentElement?.parentElement!;
		const original_booking = hoveredBooking!;

		const input_start = hoverBox.children[0].children[1].children[0] as HTMLInputElement;
		const input_end = hoverBox.children[0].children[1].children[1] as HTMLInputElement;

		var fail_callsign = false;
		var fail_start = false;
		var fail_end = false;

		let good: boolean = true;

		var match = input_start.value.match(/(?:[0-1][0-9]|2[0-4])(?:[0-5][0-9])/gm);
		fail_start = match == null;
		if (match == null) input_start.setAttribute('id', `failedBookingEdit7h362783fgb649182b08v21`);
		else input_start.classList.remove('failedBookingEdit7h362783fgb649182b08v21');

		var match = input_end.value.match(/(?:[0-1][0-9]|2[0-4])(?:[0-5][0-9])/gm);
		fail_end = match == null;
		if (match == null) input_end.classList.add('failedBookingEdit7h362783fgb649182b08v21');
		else input_end.classList.remove('failedBookingEdit7h362783fgb649182b08v21');

		if (!(fail_start || fail_end)) {
			var start_date = new Date(original_booking.start_datetime);
			start_date.setUTCHours(parseInt(input_start.value.slice(0, 2)));
			start_date.setUTCMinutes(parseInt(input_start.value.slice(2, 4)));

			var end_date = new Date(original_booking.end_datetime);
			end_date.setUTCHours(parseInt(input_end.value.slice(0, 2)));
			end_date.setUTCMinutes(parseInt(input_end.value.slice(2, 4)));

			console.log(start_date.toISOString().slice(0, -1), end_date.toISOString().slice(0, -1));
			await patchBoooking({
				client_id: original_booking.client_id,
				network: original_booking.network,
				type: original_booking.type,
				mentor_client_id: original_booking.mentor_client_id,
				call_sign: original_booking.call_sign,
				start_datetime: start_date.toISOString().slice(0, -1),
				end_datetime: end_date.toISOString().slice(0, -1),
				id: original_booking.id
			});

			target.blur();
			var calendarBoxesContainer = document.getElementById('calendarBoxesContainer')!;
			var scrollLeft = `${calendarBoxesContainer.scrollLeft}`;
			await updateCalendar();
			scrollCalendar(parseInt(scrollLeft));
		}
	}

	async function handleDeleteBooking(ev: MouseEvent, booking: Booking | null) {
		booking = booking as Booking;
		const options = {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json'
			}
		};

		await fetch(`${bookings_address}/api/v1/bookings/${booking.id}`, options);

		(ev.target! as HTMLElement).blur();
		var calendarBoxesContainer = document.getElementById('calendarBoxesContainer')!;
		var scrollLeft = `${calendarBoxesContainer.scrollLeft}`;
		await updateCalendar();
		scrollCalendar(parseInt(scrollLeft));
	}
</script>

{#if showGuidelinesPopup}
	<div id="guidelinesPopupContainer">
		<div id="guidelinesPopup">
			<h3 id="guidelinesPopupTitle">Booking Guidelines</h3>
			<hr />
			<div id="guidelinesPopupGuidelines">
				{#each [...Array(bookingGuidelines.length).keys()] as guidline_i}
					<span>•&nbsp;&nbsp;{@html bookingGuidelines[guidline_i]}</span>
				{/each}
			</div>
			<hr />
			<div id="guidelinesPopupButtons">
				<button
					style="flex: 0.3"
					class="btn btn-outline-danger"
					on:click={() => {
						onDenyGuidelines();
						showGuidelinesPopup = false;
					}}>Deny</button
				>
				<button style="flex: 0.7" class="btn btn-success" on:click={onAcceptGuidelines()}
					>Accept</button
				>
			</div>
		</div>
	</div>
{/if}

<pagebody>
	<div id="headerContainer">
		<div id="titleContainer">
			<h1 class="title">ATC <b>Bookings</b></h1>
			<bubble>BETA</bubble>
		</div>
		<p class="description">
			Plan ahead by knowing when to expect ATC. <br /> Controllers use this page to view and book positions
			ahead of time.
		</p>
	</div>

	<!-- <div id="calendarHoverBox"> -->
	{#if clickedBooking != null}
		<div id="shade" transition:fade={{ duration: 200, easing: expoOut }}></div>
	{/if}
	<div id="hoverBoxesContainer">
		<!-- transition:slide={{ duration: 50 }} -->
		{#if hoveredBooking != null}
			<div
				class="hoveredBookingContainer {clickedBooking?.id == hoveredBooking.id
					? 'clickedHoverBox'
					: ''}"
				id="bookingHoverBox{hoveredBooking.id}"
				data-bookingid={hoveredBooking.id}
			>
				<div>
					<span class="hoveredBookingCallsign">{hoveredBooking.call_sign}</span>
					<span class="hoveredBookingTimeframe" data-bookingid={hoveredBooking.id}>
						<input
							value={zullu(new Date(hoveredBooking.start_datetime))}
							size="4"
							class={hoveredBooking.client_id == userdata?.cid ? 'bookingEditInput' : ''}
							disabled={hoveredBooking.client_id != userdata?.cid}
							data-bookingendtime={hoveredBooking.end_datetime}
						/>z—<input
							value={zullu(new Date(hoveredBooking.end_datetime))}
							class={hoveredBooking.client_id == userdata?.cid ? 'bookingEditInput' : ''}
							disabled={hoveredBooking.client_id != userdata?.cid}
							size="4"
						/>z
					</span>
				</div>
				<div style="height: 14px; margin: 5px 0 0 0;">
					<span class="hoveredBookingCID">{hoveredBooking.client_id}</span>
					<span class="hoveredBookingType">{hoveredBooking.type.toUpperCase()}</span>
					<span class="hoveredBookingNetwork">{hoveredBooking.network.toUpperCase()}</span>
				</div>
				<div style="height: 14px; margin: 1px 0 5px 0">
					<span>BOOKED AT: </span>
					<span
						>{new Date(hoveredBooking.created_at)
							.getUTCDate()
							.toString()
							.padStart(2, '0')}/{new Date(hoveredBooking.created_at)
							.getUTCMonth()
							.toString()
							.padStart(2, '0')}
						{new Date(hoveredBooking.created_at).getUTCHours()}{new Date(
							hoveredBooking.created_at
						).getUTCMinutes()}z</span
					>
				</div>
				{#if clickedBooking != null}
					<div
						class="bookingEditBox"
						transition:slide={{ duration: 300 }}
						style="padding-bottom: 0"
					>
						<button class="bookingConfirmEdit" on:click={async (ev) => bookingConfirmEdit(ev)}>
							<i class="bi bi-check2"></i>CONFIRM
						</button>
						<button
							class="bookingDelete"
							on:click={async (ev) => handleDeleteBooking(ev, hoveredBooking)}
						>
							<i class="bi bi-x-lg"></i> DELETE
						</button>
					</div>
				{/if}
			</div>
		{/if}
	</div>
	<!-- </div> -->

	<div id="calendarContainer">
		<div id="calendarHeader">
			<input
				id="dateInput"
				type="date"
				value="{now().getUTCFullYear()}-{formatFilled(now().getUTCMonth() + 1)}-{formatFilled(
					now().getUTCDate()
				)}"
				min="{now().getUTCFullYear()}-{formatFilled(now().getUTCMonth() + 1)}-{formatFilled(
					now().getUTCDate()
				)}"
				aria-label="date"
				aria-describedby="basic-addon1"
				on:change={(e) => {
					setCalendarDates(new Date(e.currentTarget.value));
					updateCalendar();
				}}
			/>
		</div>

		<div id="calendarBody">
			<div id="calendarBodyBodyContainer">
				{#key rows}
					<div id="calendarRowCallsignsContainer">
						<div id="calendarBodyHeaderSpacer" style="" />
						{#each [...Array(rows.length).keys()] as rowi}
							<span
								class="calendarRowCallsign"
								style="min-height: {box_height * rows[rowi].subrow_count +
									box_margin * (1 + rows[rowi].subrow_count)}px; background-color: {rowi % 2 == 0
									? '#1f1f1f5e'
									: '#3838385e'}">{rows[rowi].callsign}</span
							>
						{/each}
					</div>
					<!-- height: {rows.length * row_height}px -->
					<div
						id="calendarBoxesContainer"
						style="max-width: {pps * 24 * 60 * 60}px; overflow: none;"
					>
						<div class="headerRow rowBackground" style="">
							{#each [...Array(24).keys()] as hour}
								<div class="headerRowBox rowBackgroundBox" style="min-width: {pps * 60 * 60}px">
									<span>{formatFilled(hour)}00</span>
								</div>
							{/each}
						</div>
						{#each [...Array(rows.length).keys()] as rowi}
							<div
								class="rowContainer"
								style="max-width: {pps * 24 * 60 * 60}px; min-width: {pps * 24 * 60 * 60}px"
							>
								<div
									class="rowBackground"
									style="height: {box_height * rows[rowi].subrow_count +
										box_margin * (1 + rows[rowi].subrow_count)}px;"
								>
									{#each [...Array(24).keys()] as hour}
										<div
											class="rowBackgroundBox"
											style="height: {box_height * rows[rowi].subrow_count +
												box_margin * (1 + rows[rowi].subrow_count)}px; width: {pps * 60 * 60}px"
										></div>
									{/each}
								</div>
								<div
									class="rowBoxesContainer"
									style="min-width: {pps * 24 * 60 * 60}px; 
										max-width: {Math.min(rows[rowi].lenused, pps * 24 * 60 * 60)}px; 
										height: {box_height * rows[rowi].subrow_count + box_margin * (1 + rows[rowi].subrow_count)}px;
										width: 100%;
										background-size: cover;
										left: -{pps * 60 * 60 * 24}px;
										background-color: {rowi % 2 == 0 ? '#1f1f1f5e' : '#3838385e'}"
								>
									<div class="currTimeCursor"></div>
									{#each [...Array(rows[rowi].bookings.length).keys()] as bookingi}
										<div
											class="bookingBoxContainer"
											style="max-width: {rows[rowi].bookings[bookingi].len}px; min-width: {rows[
												rowi
											].bookings[bookingi].len}px; 
											overflox: hidden; 
											left: {rows[rowi].bookings[bookingi].col - 1 - weird_pixel_glitch}px;
											top: {rows[rowi].bookings[bookingi].subrow * box_height +
												box_margin * (rows[rowi].bookings[bookingi].subrow + 1)}px;	
											"
										>
											<div
												class="bookingBox {clickedBooking?.id ==
												rows[rowi].bookings[bookingi]?.booking.id
													? 'clickedBookingBox'
													: ''}"
												data-bookingid={rows[rowi].bookings[bookingi].booking.id}
												style="max-width: {rows[rowi].bookings[bookingi].len}px;
                      
											
                      background: white;
											padding-right: {Math.min(7, rows[rowi].bookings[bookingi].len / 2)}px;
											padding-left: {Math.min(7, rows[rowi].bookings[bookingi].len / 2)}px;
											box-shadow: inset 0px 0px 20px 2px {bookingColor(rows[rowi].bookings[bookingi].booking, true)};
											border-color: {bookingColor(rows[rowi].bookings[bookingi].booking)};
											border-style: {rows[rowi].bookings[bookingi].booking.network == 'live' ? 'solid' : 'dashed'};"
											>
												{rows[rowi].bookings[bookingi].booking.client_id}
											</div>
										</div>
									{/each}
								</div>
							</div>
						{/each}
					</div>
				{/key}
			</div>
		</div>

		<div id="calendarNextBookings">
			<div id="calendarNextBookingsHeader">
				<span id="calendarNextBookingsTitle">Future Bookings</span>
				<span id="calendarNextBookingsDescription">Bookings made in the future</span>
			</div>
			<hr style="width: 100%; margin-top: -0.3rem" />
			{#await futureBookingsByDay() then days}
				<!-- <div class="calendarNextBookingsDay">
					<div class="calendarNextBookingDayDate">07 Jun</div>
					<div class="calendarNextBookingsDayBookings">
						<div class="calendarNextBookingsDayBooking">
							<span class="calendarNextBookingsDayBookingCallsign">LPPC_CTR</span>
							<div class="calendarNextBookingsDayBookingTime">
								<span class="calendarNextBookingsDayBookingStart">1000z</span>
								—
								<span class="calendarNextBookingsDayBookingEnd">1600z</span>
							</div>
						</div>
					</div>
				</div> -->

				<!-- 14 DAYS -->
				<!-- {#await getBookingsFree(Date.now(), Date.now() / 1000 + 60 * 60 * 24 * 14) then _}
					{@debug _}
				{/await} -->
				<!-- {@debug days} -->
				{#if days.length > 0}
					<div id="calendarNextBookingsDays">
						{#each days as day}
							<div class="calendarNextBookingsDay">
								<div class="calendarNextBookingDayDate">{day[0][0].slice(0, 3)} {day[0][1]}</div>
								<div class="calendarNextBookingsDayBookings">
									{#each day[1] as booking}
										<div class="calendarNextBookingsDayBooking">
											<span class="calendarNextBookingsDayBookingCallsign">{booking.call_sign}</span
											>
											<div class="calendarNextBookingsDayBookingTime">
												<span class="calendarNextBookingsDayBookingStart">
													{new Date(booking.start_datetime)
														.getUTCHours()
														.toString()
														.padStart(2, '0')}{new Date(booking.start_datetime)
														.getUTCMinutes()
														.toString()
														.padStart(2, '0')}z
												</span>
												—
												<span class="calendarNextBookingsDayBookingEnd">
													{new Date(booking.end_datetime)
														.getUTCHours()
														.toString()
														.padStart(2, '0')}{new Date(booking.end_datetime)
														.getUTCMinutes()
														.toString()
														.padStart(2, '0')}z
												</span>
											</div>
										</div>
									{/each}
								</div>
							</div>
						{/each}
					</div>
				{:else}
					<span style="color: rgba(255,255,255,0.5); width: 100%; text-align: center;">
						No future bookings
					</span>
				{/if}
			{/await}
		</div>

		<div id="guidelinesContainer" data-bs-theme="dark">
			<h3 class="bookingsSectionTitle">Booking Guidelines</h3>
			<hr />
			<div id="guidelinesGuidelines">
				{#each [...Array(bookingGuidelines.length).keys()] as guidline_i}
					<span>•&nbsp;&nbsp;{@html bookingGuidelines[guidline_i]}</span>
				{/each}
			</div>
		</div>

		<div id="createBookingContainer" data-bs-theme="dark">
			<h3 class="bookingsSectionTitle">New Booking</h3>

			<hr />
			<div id="createBookingInputs">
				<div class="input-group mb-3" id="createBookingCIDInput">
					<span class="input-group-text">CID</span>
					<input
						disabled
						id="bookingCIDInput"
						type="number"
						class="form-control"
						placeholder="not logged in"
						aria-label="CID"
						aria-describedby="basic-addon1"
						value={userdata?.cid || ''}
					/>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">Callsign</span>
					<input
						required
						id="bookingCallsignInput"
						type="text"
						class="form-control"
						placeholder="LPXX_XXX"
						aria-label="callsign"
						aria-describedby="basic-addon1"
					/>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text" for="bookingTypeSelect">Session Type</label>
					<select class="form-select" id="bookingTypeSelect">
						<option selected value="booking">Booking</option>
						<option value="exam">Exam</option>
						<option value="training">Training</option>
					</select>
					<label class="input-group-text" for="bookingServerSelect">Server</label>
					<select class="form-select" id="bookingServerSelect">
						<option selected value="live">Live</option>
						<option value="sweatbox">Sweatbox</option>
					</select>
				</div>
				<div id="createBookingDatesContainer">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Start</span>
						<input
							required
							id="startDateSelect"
							type="date"
							class="form-control"
							placeholder="Date (DD/MM/YYYY)"
							aria-label="StartDate"
							aria-describedby="basic-addon1"
							value={`${now().getUTCFullYear()}-${formatFilled(now().getUTCMonth() + 1)}-${formatFilled(now().getUTCDate())}`}
						/>
						<span class="input-group-text" id="basic-addon1">@</span>
						<input
							required
							id="startTimeSelect"
							type="time"
							class="form-control"
							placeholder="Time (hh:mm)"
							aria-label="StartTime"
							aria-describedby="basic-addon1"
						/>
						<span class="input-group-text" id="basic-addon1">UTC</span>
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">End</span>
						<input
							required
							id="endDateSelect"
							type="date"
							class="form-control"
							placeholder="Date (DD/MM/YYYY)"
							aria-label="EndDate"
							aria-describedby="basic-addon1"
							value={`${now().getUTCFullYear()}-${formatFilled(now().getUTCMonth() + 1)}-${formatFilled(now().getUTCDate())}`}
						/>
						<span class="input-group-text" id="basic-addon1">@</span>
						<input
							required
							id="endTimeSelect"
							type="time"
							class="form-control"
							placeholder="Time (hh:mm)"
							aria-label="StartTime"
							aria-describedby="basic-addon1"
						/>
						<span class="input-group-text" id="basic-addon1">UTC</span>
					</div>
				</div>
			</div>
			<hr />
			<div id="createBookingButtonsContainer">
				<button
					id="createBookingSubmitButton"
					type="submit"
					class="btn btn-outline-light"
					on:click={() => {
						submitBooking();
					}}>Submit</button
				>
			</div>
		</div>
	</div>
</pagebody>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
	@import url('https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css');

	* {
		color: white;
	}

	.calendarNextBookingsDayBooking {
		white-space: nowrap;
	}

	#calendarNextBookingsHeader {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 10rem;
	}

	#calendarNextBookingsDays {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 100%;
		overflow: hidden;
	}

	#calendarNextBookingsDescription {
		color: rgba(255, 255, 255, 0.8);
	}

	.calendarNextBookingsDayBookingCallsign {
		color: rgba(255, 255, 255, 0.7);
	}

	.calendarNextBookingsDayBooking {
		width: fit-content;
		height: 100%;
		padding: 0 1rem;
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	.calendarNextBookingsDay {
		display: flex;
		gap: 0.5rem;
	}

	.calendarNextBookingsDayBookings > * {
		background-color: rgba(0, 0, 0, 0.5);
		border: rgba(255, 255, 255, 0.4) 1px solid;
	}

	.calendarNextBookingsDayBookings > *:last-child {
		border-radius: 0 9999px 9999px 0;
	}

	.calendarNextBookingsDayBookings {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		overflow-x: auto;
		max-width: 100%;
	}

	.calendarNextBookingsDay > *:first-child {
		border-radius: 9999px 0 0 9999px;
	}

	.calendarNextBookingDayDate {
		background-color: rgba(0, 0, 0, 0.5);
		border: rgba(255, 255, 255, 0.9) 1px solid;
		padding: 0.3rem 1rem;
		display: flex;
		gap: 1rem;
		white-space: nowrap;
	}

	#calendarNextBookings {
		background-color: rgba(0, 0, 0, 0.6);
		display: flex;
		align-items: start;
		flex-direction: column;
		padding: 1.3rem 1.3rem;
		padding-top: 0.8rem;
		gap: 1rem;
	}

	#calendarNextBookingsTitle {
		color: white;
		font-size: 1.5rem;
		font-weight: 500;
	}

	#guidelinesContainer {
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 20px;
	}

	.bookingsSectionTitle {
		text-align: left;
		font-family: Poppins;
		color: white;
		margin: 0;
	}

	#guidelinesGuidelines > span {
		font-family: Poppins;
		color: rgb(255, 255, 255);
		width: 100%;
		text-align: start;
	}

	#guidelinesGuidelines {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 15px;
	}

	#guidelinesPopupTitle {
		text-align: left;
		font-family: Poppins;
		color: white;
		margin: 0;
	}

	#guidelinesPopupButtons {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	#guidelinesPopupContainer {
		position: fixed;
		top: 0;
		z-index: 998;
		background-color: rgba(0, 0, 0, 0.418);
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#guidelinesPopupGuidelines {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 15px;
	}

	#guidelinesPopup {
		display: flex;
		z-index: 999;
		width: 400px;
		background-color: rgba(0, 0, 0, 0.89);
		padding: 20px;
		border: rgba(255, 255, 255, 0.226) 1px solid;
		border-radius: 20px;
		flex-direction: column;
		gap: 20px;
	}

	hr {
		margin: 0;
		color: white;
	}

	#guidelinesPopupGuidelines > span {
		font-family: Poppins;
		color: rgb(255, 255, 255);
		width: 100%;
		text-align: start;
	}

	.clickedBookingBox {
		z-index: 999;
	}

	:global(#failedBookingEdit7h362783fgb649182b08v21) {
		border-color: #bd4646 !important;
		border-width: 1px !important;
	}

	div:has(> .bookingEditInput) {
		padding-top: 1px;
	}

	/* .clickedHoverBox > div > input, */
	.clickedHoverBox > div > span > input {
		border: white solid 1px !important;
		/* color: black !important; */
		padding: 0 1px !important;
	}

	/* .hoveredBookingContainer > div > input, */
	.hoveredBookingContainer > div > span > input {
		background-color: transparent;
		color: white;
		border: none;
		height: 14px;
		padding: 0;
	}

	/* .hoveredBookingContainer > div > input:focus, */
	.hoveredBookingContainer > div > span > input:focus {
		background-color: white;
		color: black;
	}

	.bookingEditBox > button {
		border: none;
		color: white;
		display: flex;
		gap: 5px;
		height: 11px;
		padding: 0 2px;
		font-size: 10px;
		align-items: center;
	}

	.bookingEditBox > button > i {
		padding-top: 1px;
	}

	.bookingEditBox > .bookingConfirmEdit {
		background-color: rgb(55, 99, 55) !important;
	}

	.bookingEditBox > .bookingDelete {
		background-color: rgb(99, 55, 55);
	}

	.bookingEditBox > .bookingDelete > i {
		font-size: 9px;
	}

	.bookingEditBox {
		border-top: 1px solid rgb(180, 180, 180);
		width: 100%;
		margin: 0;
		height: 16px;
		align-items: center;
		padding: 0 2px !important;
	}

	#shade {
		background-color: rgba(0, 0, 0, 0.63);
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 998;
	}

	.currTimeCursor {
		background-color: rgba(255, 186, 186, 0.486);
		width: 1px;
		position: relative;
		height: 100%;
		z-index: 500;
	}

	.rowBackground:first-child {
		border-right: none !important;
	}

	.headerRow {
		height: 18px;
		background-color: rgba(56, 56, 56, 0.37) !important;
		border-bottom: 1px solid var(--calendarSeparatorColor);
	}

	#calendarBodyHeaderRowContainer {
		width: calc(100% - 115px);
		overflow: scroll;
		scrollbar-width: none;
		border-bottom: 1px solid var(--calendarSeparatorColor);
	}

	#calendarBodyBodyContainer {
		display: flex;
	}

	#calendarBodyHeaderSpacer {
		background-color: rgba(56, 56, 56, 0.37);
		min-width: 115px;
		height: 18px;
		border-right: 1px solid var(--calendarSeparatorColor);
		border-bottom: 1px solid var(--calendarSeparatorColor);
	}

	#calendarBodyHeaderContainer {
		display: flex;
		border-radius: 10px 0 0 10px;
		height: 20px;
		background-color: #111111;
		/* border-bottom: 1px solid var(--calendarSeparatorColor); */
	}

	#calendarBody {
		display: flex;
		flex-direction: column;
		/* max-height: 282px; */
		min-height: 200px;
		overflow: auto;
		scrollbar-width: none;

		--calendarSeparatorColor: rgb(255, 255, 255, 0.2);
	}

	.calendarRowCallsign {
		border-bottom: 1px var(--calendarSeparatorColor) solid;
		border-right: 1px var(--calendarSeparatorColor) solid;
		color: white;
		align-content: center;
		font-family: 'Space Mono';
		text-align: center;
		background-color: #111111;
		width: 115px;
	}

	.rowBoxesContainer {
		display: flex;
		/* background-position-x: 25px; */
		align-content: center;
		display: flex;
		align-items: center;
		position: relative;
		align-items: flex-start;
		/* border-left: 1px solid white; */
	}

	.rowBackground {
		position: relative;
		z-index: 1;
		display: flex;
		border-bottom: 1px solid var(--calendarSeparatorColor);
		width: min-content;
	}

	.rowBackgroundBox {
		color: rgba(255, 255, 255, 0.575);
		font-family: Space Mono;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: 1px solid var(--calendarSeparatorColor);
	}

	#hoverBoxesContainer {
		overflow: hidden;
		--border-radius: 10px;
		position: absolute;
		z-index: 1000;
		top: 0;
		left: 0;
		gap: 3px;
		flex-direction: column;
		display: flex;
		padding-top: 3px;
	}

	.bookingBoxContainer {
		overflow: hidden;
		position: relative;
	}

	.bookingBox {
		color: rgba(190, 190, 190, 1);
		background-color: rgb(59, 59, 59);
		background: none !important;
		padding: 0 7px;
		position: relative;
		border-radius: 0px;
		overflow: hidden;
		align-content: center;
		font-family: 'Space Mono';
		font-weight: 100;
		font-size: 12px;
		text-align: left;
		white-space: nowrap;
		text-wrap: nowrap;
		height: 28px;
		border-width: 1px;
		transition:
			border-width 50ms ease-in-out,
			scale 150ms ease-in-out;
		cursor: default;
		/* opacity: 70%; */
	}

	.hoveredBookingCallsign {
		font-size: 12px;
	}

	.hoveredBookingContainer > div > span {
		height: 10px;
	}

	.hoveredBookingContainer {
		max-width: 230px;
		width: min-content;
		white-space: nowrap;
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		color: white;
		background-color: #111111;
		flex-direction: row;
		/* min-width: 200px; */
		/* min-height: 50px; */
		font-family: 'Space Mono';
		font-size: 12px;
		justify-content: space-between;
		border: rgb(180, 180, 180) 1px solid;
		padding-top: 1px;
	}

	.hoveredBookingContainer > div {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
		column-gap: 10px;
		padding: 0 5px;
	}

	bubble {
		padding-top: 1px;
		border-radius: 4px;
	}

	/* .hoveredBookingContainer:first-child {
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		border-top: white 1px solid;
		border-left: white 1px solid;
		border-right: white 1px solid;
	} */

	/* .hoveredBookingContainer:not(:first-child):not(:last-child) {
		border-left: white 1px solid;
		border-right: white 1px solid;
	} */

	/* .hoveredBookingContainer:last-child {
		border-bottom-left-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		border-left: white 1px solid;
		border-right: white 1px solid;
		border-bottom: white 1px solid;
	} */

	#titleContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	#titleContainer > h1 {
		width: fit-content;
		margin-bottom: 0 !important;
	}

	#titleContainer > bubble {
		margin-bottom: -4px;
	}
	#titleContainer {
		margin-bottom: 20px;
	}

	#dateInput {
		color: rgba(255, 255, 255, 0.952);
		font-family: 'Space Mono';
		font-size: 22px;
		background-color: transparent;
		border: none;
		width: fit-content;
		text-align: center;
		color-scheme: dark;
	}

	#dateInput:focus {
		border: none !important;
		outline: none !important;
	}

	/* #dateInputGroup {
		color: white;
	} */

	pagebody {
		max-width: 1202px;
		display: flex;
		flex-direction: column;
	}

	#headerContainer {
		margin-bottom: 50px;
	}

	#createBookingButtonsContainer {
		flex: unset !important;
		width: 100%;
	}

	#createBookingButtonsContainer > button {
		width: 100%;
	}

	#createBookingInputs > div > input {
		font-family: 'Space Mono';
		font-size: 15px;
	}

	#createBookingInputs > div {
		margin: 0 !important;
		min-width: fit-content;
		flex: 1;
	}

	#createBookingDatesContainer {
		display: flex;
		flex: unset !important;
		flex-wrap: wrap;
		gap: 10px;
		width: 100%;
	}

	#createBookingDatesContainer > div {
		margin: 0 !important;
		min-width: min-content;
		flex: 1;
	}

	#createBookingInputs {
		gap: 10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	#createBookingContainer {
		/* display: flex;
		justify-content: center;
		align-items: left;
		display: flex;
		flex-direction: column;
		background: repeating-linear-gradient(
			45deg,
			#5252525e,
			#5252525e 10px,
			#1f1f1f5e 10px,
			#1f1f1f5e 20px
		);
		padding: 15px; */
		/* box-shadow: unset !important; */
		padding: 20px;
		margin-top: 20px;
		--bs-tertiary-bg: #00000077;
		--bs-tertiary-bg-rgb: rgb(0, 0, 0);
		--bs-secondary-bg: #14141477;
		--bs-secondary-color: rgba(255, 255, 255, 0.726);
		--bs-secondary-color-rgb: rgb(255, 255, 255);
		--bs-body-color: white;
		--bs-body-color-rgb: rgb(255, 255, 255);
		--bs-body-bg: rgb(0, 0, 0);
		--bs-body-bg-rgb: rgb(0, 0, 0);
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	#createBookingCIDInput {
		width: 250px;
	}

	#calendarRowCallsignsContainer {
		display: flex;
		flex-direction: column;
		overflow: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		min-width: 115px;
	}

	#calendarContainer {
		padding-right: 5px;
		padding-bottom: 5px;
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		gap: 20px;
	}

	#calendarContainer > div {
		border: rgba(255, 255, 255, 0.301) 1px solid;
		border-radius: 10px;
		box-shadow: rgb(112, 112, 112) 5px 5px;
		background-color: rgba(0, 0, 0, 0.6);
	}

	#calendarHeader {
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: repeating-linear-gradient(
			45deg,
			#5252525e,
			#5252525e 10px,
			#1f1f1f5e 10px,
			#1f1f1f5e 20px
		);
	}

	/* #calendarRowCalsignsContainer {
		display: flex;
		flex-direction: column;
	} */

	#calendarBoxesContainer {
		width: 100%;
		overflow-x: scroll;
		background-attachment: local;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	#calendarBoxesContainer::-webkit-scrollbar {
		display: none;
	}

	#noRowsContainer {
		width: 100%;
		align-content: center;
		color: white;
		font-size: 19px;
		font-family: 'Space Mono';
		letter-spacing: -0.5px;
		text-align: center;
		align-self: center;
	}

	.rowContainer {
		display: flex;
		align-items: center;
		padding-right: 15px;
		overflow-x: hidden;
	}
</style>
