<script lang="ts">
	import { signIn, signOut } from '@auth/sveltekit/client';
	import { page } from '$app/stores';
	//@ts-ignore
	const userdata: any | null = $page.data.session?.picture?.data;
	var reportSuccessful: boolean | null = null;

	async function submitReport() {
		var myHeaders = new Headers();
		myHeaders.append('Content-Type', 'application/json');

		//@ts-ignore
		const title = document.getElementById('titleInput')?.value;
		//@ts-ignore
		const description = document.getElementById('descriptionInput')?.value;
		//@ts-ignore
		const controller = document.getElementById('controllerInput')?.value;

		var response = await fetch(
			`/api/v1/feedback?title=${encodeURIComponent(title)}&description=${encodeURIComponent(
				`CONTROLLERS: "${controller}" \n` + description
			)}`,
			{
				credentials: 'include'
			}
		);

		if (response.ok) reportSuccessful = true;
		else reportSuccessful = false;
	}
</script>

<pagebody>
	<h1 class="title">Give <b>Feedback</b></h1>
	<p class="description">Contact the crew with any suggestions, problems or requests!</p>

	<!-- {#if !$page.data.session}
		<button
			on:click={() => {
				signIn('vatsim');
			}}
			id="signInButton"
			><img src="/src/assets/vatsim.webp" alt="Vatsim Logo" id="vatsimButtonLogo" /></button
		>
	{:else} -->
	<div id="feedbackFormContainer1">
		<div id="feedbackFormContainer2">
			<div class="input-group mb-3" data-bs-theme="dark">
				<span class="input-group-text" id="basic-addon1">Name</span>
				<input
					type="text"
					class="form-control"
					aria-label="Name"
					placeholder="Loading..."
					aria-describedby="basic-addon1"
					id="nameInput"
					value={userdata?.personal.name_full || ' '}
					disabled
				/>
				{#if userdata}<button
						class={`btn ${userdata ? 'btn-outline-secondary' : 'btn-light'}`}
						type="button"
						id="button-addon2"
						on:click={() => {
							signOut();
						}}
						>Sign Out
					</button>{/if}
			</div>
			<div class="input-group mb-3" data-bs-theme="dark">
				<span class="input-group-text" id="basic-addon1">E-Mail Address</span>
				<input
					type="text"
					class="form-control"
					aria-label="Name"
					placeholder="Loading..."
					aria-describedby="basic-addon1"
					id="emailInput"
					disabled
					value={userdata?.personal.email || ' '}
				/>
			</div>
			<div class="input-group mb-3" data-bs-theme="dark">
				<span class="input-group-text" id="basic-addon1">Vatsim CID</span>
				<input
					type="text"
					class="form-control"
					placeholder="Loading..."
					aria-label="Vatsim CID"
					aria-describedby="basic-addon1"
					id="cidInput"
					value={userdata?.cid || ' '}
					disabled
				/>
			</div>
			<div class="mb-3" data-bs-theme="dark">
				<label for="basic-url" class="form-label"></label>
				<div class="input-group">
					<span class="input-group-text" id="basic-addon3">Title</span>
					<input
						type="text"
						class="form-control"
						placeholder=""
						id="titleInput"
						aria-describedby="basic-addon3 basic-addon4"
					/>
				</div>
				<div class="form-text" id="basic-addon4">Summarize your report in a short sentence</div>
			</div>
			<div class="input-group" data-bs-theme="dark">
				<div class="input-group">
					<textarea
						class="form-control"
						aria-label="With textarea"
						placeholder=""
						id="descriptionInput"
					/>
				</div>
				<div class="form-text" id="basic-addon4">Write your report in full detail</div>
			</div>
			<div class="" data-bs-theme="dark">
				<label for="basic-url" class="form-label"></label>
				<div class="input-group">
					<span class="input-group-text" id="basic-addon3">Controller CID(s) or Name(s)</span>
					<input
						type="text"
						class="form-control"
						placeholder=""
						id="controllerInput"
						aria-describedby="basic-addon3 basic-addon4"
					/>
				</div>
				<div class="form-text" id="basic-addon4">If relevant, optional</div>
			</div>
			{#if reportSuccessful == true}
				<button
					type="button"
					class="btn btn-success submitButton"
					disabled
					id="reportSuccessfulButton">Report Sent!</button
				>
			{:else if reportSuccessful == false}
				<button
					type="button"
					class="btn btn-outline-danger submitButton"
					disabled
					id="reportFailedButton">Failed to send. Please try again later.</button
				>
			{:else if userdata}
				<button
					type="button"
					class="btn btn-secondary submitButton"
					id="submitButton"
					on:click={() => submitReport()}>Submit Report</button
				>
			{:else}
				<button
					type="button"
					class="btn btn-light submitButton"
					id="signInButton"
					on:click={() => {
						signIn('vatsim');
					}}>Sign In with VATSIM</button
				>
			{/if}
		</div>
	</div>

	<!-- {/if} -->

	<style>
		#feedbackFormContainer1 {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#feedbackFormContainer2 {
			margin-top: 50px;
			background-color: rgba(255, 255, 255, 0.055);
			width: 100%;
			border-radius: 20px;
			outline: 1px rgba(255, 255, 255, 0.192) solid;
			max-width: 750px;
			/* box-shadow: 0 0 40px rgba(255, 255, 255, 0.144); */
		}

		#feedbackFormContainer2 {
			display: flex;
			flex-direction: column;
			padding: 20px;
			text-align: left;
			color: white;
		}

		#reportSuccessfulButton:hover {
			cursor: default;
			background-color: auto !important;
		}

		.submitButton {
			margin-top: 20px;
		}

		#descriptionInput {
			min-height: 150px;
		}

		/* #signInButton {
			height: 60px;
			width: 200px;
			margin-top: 50px;
			border: none;
			background-color: var(--color-accent);
			border-radius: 15px;
			box-shadow: 0 0 50px -15px var(--color-accent-bright);
			transition: ease-in 0.1s all;
		}
	
		#signInButton:hover {
			background-color: var(--color-accent-bright);
			transition: ease-in 0.1s all;
		} */

		/* #vatsimButtonLogo {
			height: 30px;
			filter: saturate(0) brightness(0);
		} */
	</style>
</pagebody>
