<script lang="ts">
	import { browser } from '$app/environment';
	import Navbar from '../components/Navbar.svelte';
	import { fade, slide } from 'svelte/transition';
	import { bodyscroll, minimizeNavbar, url, showFooter, hideNavbar } from '../stores';
	import { vatsimEvents, onlineControllers } from '../stores';
	import { onMount } from 'svelte';
	import { navigating } from '$app/stores';
	import background from '../assets/background.png';

	interface urlData {
		pathname: string;
		params: URLSearchParams;
	}
	export let data: urlData;
	interface vatsimEvent {
		name: string;
		start_time: string;
		end_time: string;
		short_description: string;
		description: string;
		id: number;
		banner: string;
	}

	interface onlineController {
		name: string;
		callsign: string;
		frequency: string;
		logon_time: number;
	}

	function timestampToUnix(dateString: string): number {
		const unix = new Date(dateString).getTime() / 1000;
		return unix;
	}

	let showNavbar = true;
	let menuExpanded = false;

	async function main() {}

	onMount(main);

	let noscroll = false;
	let bodyElement: HTMLElement;

	$: $bodyscroll,
		(() => {
			noscroll = !$bodyscroll;
			if (bodyElement) {
				if (noscroll) bodyElement.classList.add('noscroll');
				else bodyElement.classList.remove('noscroll');
			}
		})();
	$url = data;

	$: if ($navigating) {
		$bodyscroll = true;
		$minimizeNavbar = false;
		$showFooter = true;
		$hideNavbar = false;
	}

	$: if ($minimizeNavbar) {
		showNavbar = !$minimizeNavbar;
	}

	$: if ($hideNavbar) {
		showNavbar = !$hideNavbar;
	}

	onMount(async () => {
		bodyElement = document.body;
		if (browser) {
			setTimeout(() => {
				if (document.getElementById('slotContainer2')) {
					document.getElementById('slotContainer2')!.style.opacity = '1';
					document.getElementById('slotContainer2')!.style.opacity = '1';
				}
			});
		}
		document.addEventListener('mousemove', async (ev) => {
			let isHoveringNavbar = false;
			if (showNavbar) {
				let navbarRect = document
					.getElementById('navbarContainer')!
					.children[1].getBoundingClientRect();
				isHoveringNavbar =
					ev.clientX >= navbarRect.left &&
					ev.clientX <= navbarRect.right &&
					ev.clientY >= navbarRect.top &&
					ev.clientY <= navbarRect.bottom;
				// console.log(isHoveringNavbar, ev.clientY);
			}
			// console.log(ev.clientY > 10, !isHoveringNavbar, menuExpanded);
			if (
				(ev.clientY > 10 && !isHoveringNavbar && $minimizeNavbar && !menuExpanded) ||
				$hideNavbar
			) {
				showNavbar = false;
			} else {
				showNavbar = true;
			}
		});
	});
</script>

<body class={'' + (noscroll ? 'noscroll' : '')} bind:this={bodyElement}>
	<div id="navbarContainer" style={showNavbar ? '' : 'display: none;'}>
		<Navbar bind:menuExpanded />
	</div>

	{#key data.pathname}
		<div id="slotContainer1" style="background-image: url({background});">
			<div id="slotContainer2">
				<div id="masterContainer1" class="masterContainer">
					<div id="masterContainer2" class="masterContainer">
						<div id="masterContainer3" class="masterContainer">
							<div id="masterContainer4" class="masterContainer">
								<slot />
							</div>
						</div>
					</div>
				</div>
				{#if $showFooter}
					<footer id="footer">
						<a id="footerContainer" href="/staff">
							<div id="footerMadeByTxtContainer">
								<p id="footerMadeByTxt">By Vicente Rendo and Rodrigo Simões</p>
							</div>
							<p id="footerText">Copyright ©1999-2024 Portugal vACC</p>
						</a>
					</footer>
				{/if}
			</div>
		</div>
	{/key}
</body>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

	.noscroll {
		overflow: hidden !important;
	}

	:global(p) {
		margin-bottom: 0px;
	}

	:global(body) {
		margin: 0;
	}

	:global(:root) {
		--color-accent: #3d4d5f;
		--color-accent-bright: #95bbe5;
	}

	:global(bubble),
	:global(.bubble) {
		text-decoration: none;
		color: rgb(217, 217, 217);
		background-color: rgba(255, 255, 255, 0.148);
		font-size: 14px;
		padding: 7px;
		padding-right: 6px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-radius: 7px;
		white-space: nowrap;
		line-break: strict;
		margin-bottom: 5px;
		width: fit-content;
	}

	:global(p) {
		margin-bottom: 0 !important;
		color: white;
	}

	:global(h1) {
		color: white !important;
	}

	:global(body) {
		background-color: transparent !important;
	}

	:global(.blockListContainer) {
		background-color: rgba(0, 0, 0, 0.579);
		padding: 40px;
		border-radius: 30px;
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		width: 100%;
		border: 1px rgb(42, 42, 42) solid;
		/* box-shadow: 0px 0px 20px 0px #00000038; */
	}

	:global(.title) {
		color: rgba(255, 255, 255, 0.894);
		font-weight: 400;
		margin-bottom: 20px;
		width: 100%;
		font-family: Poppins, sans-serif;
	}

	:global(.description) {
		color: rgba(255, 255, 255, 0.707);
		font-size: 15px;
	}

	@media (max-width: 480px) {
		:global(.description),
		:global(.title) {
			text-align: start;
		}
		:global(.title) {
			font-size: 29.1px;
		}
		#masterContainer4 {
			text-align: start;
		}

		#masterContainer3 {
			padding: 80px 0 80px 0 !important;
		}
	}

	footer {
		text-align: center;
		color: rgba(255, 255, 255, 0.735);
		font-size: 12px;
		padding: 20px 0px;
		/* background-color: rgba(0, 0, 0, 0);
		border-top: 1px solid rgb(63, 63, 63); */
		margin-top: -73px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#footerContainer {
		width: fit-content;
		text-decoration: none;
	}

	#footerMadeByTxtContainer {
		transition: all 0.1s;
		position: relative;
		opacity: 0;
		width: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		cursor: default;
		visibility: hidden;
	}

	#footerText {
		cursor: pointer;
	}

	#footerMadeByTxt {
		transition: all 0.1s;
		background-color: rgba(128, 128, 128, 0.286);
		color: rgba(255, 255, 255, 0.408);
		padding: 0px 5px;
		border-radius: 5px;
		width: fit-content;
		font-size: 10px;
		cursor: default;
	}

	#footerContainer:hover #footerMadeByTxtContainer {
		transition: all 0.1s;
		opacity: 1 !important;
	}

	#slotContainer1 {
		background-color: black;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}

	#slotContainer2 {
		opacity: 1;
		backdrop-filter: blur(9px) brightness(0.5) saturate(0.5);
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	:global(.masterContainer) {
		min-height: calc(100vh - 160px);
	}

	:global(#masterContainer1) {
		/* background: linear-gradient(147deg, rgb(45 90 77) 0%, rgb(38, 58, 80) 100%); */
		/* background: linear-gradient(
			147deg,
			rgb(45 90 77) 0%,
			rgb(11 14 32) 1200px,
			rgb(20, 39, 33) 100%
		); */
		outline: 0px;
		min-width: 390px;
	}

	/* :global(#masterContainer2) {
		 background: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 60vh); 
	} */

	:global(#masterContainer3) {
		padding: 120px 0 40px 0;
		/* background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 60vh); */
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	:global(#masterContainer4) {
		align-items: center;
		text-align: center;
		margin: 0;
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	:global(pagebody) {
		max-width: 2000px;
		width: 80%;
		margin-top: 0 !important;
		padding-bottom: 15px;
		padding-top: 0 !important;
	}

	:global(::-webkit-scrollbar) {
		width: 2px;
		height: 2px;
		background-color: black;
	}

	:global(::-webkit-scrollbar-thumb) {
		background-color: rgba(255, 255, 255, 0.289);
		border-radius: 5px;
	}

	:global(*:focus) {
		/* outline: rgba(255, 255, 255, 0.285) 1px solid; */
		outline: none;
	}
</style>
