<script lang="ts">
	import Events from '../components/Events.svelte';
	import logo from '../assets/logo.svg';
	import OnlineControllers from '../components/OnlineControllers.svelte';
	import LinkButtons from '../components/LinkButtons.svelte';
	import { vatsimEvents, onlineControllers } from '../stores';
	import { onMount } from 'svelte';

	onMount(async () => {
		await onlineControllers.refresh();
	});
</script>

<pagebody>
	<div id="blocksContainer1">
		<div id="titleContainerContainer">
			<div id="titleContainer">
				<img src={logo} alt="PortugalVacc logo" class="logoTitle" />
				<p id="titleText">
					<span style="color: #f98f00">Portugal</span> <span style="color: #0c95e0">vACC</span>
				</p>
				<p id="titleDescriptionText">
					Providing Air Traffic Control for the Portuguese Virtual Skies since
					<b>1999</b>.
				</p>
			</div>
		</div>
		<div id="descriptionContainer" class="home-section-container">
			<h1 class="title">Welcome to our vACC!</h1>
			<p class="description">
				Our main mission is to provide Air Traffic Services in the Flight Information Regions (FIR)
				under Portuguese responsibility - Lisbon and Santa Maria, ensuring that VATSIM and VATEUD
				regulations are complied. We also look to do so while following realistic procedures, making
				sure you get the same experience you would get if you flew a real plane into Portugal (or,
				for our controllers, if you were sitting in the real ATC room)!
			</p>
			<div id="linkButtonsBlockContainerContainer">
				<div id="linkButtonsBlockContainer">
					<LinkButtons />
				</div>
			</div>
		</div>

		<div id="liveInfoBlock" class="block">
			{#if $vatsimEvents.length > 0}
				<Events />
			{/if}

			{#if $onlineControllers.length > 0}
				<div id="onlineControllersBlockContainer">
					<OnlineControllers />
				</div>
			{/if}
		</div>
	</div>
</pagebody>

<style>
	@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');

	.description {
		margin-bottom: 40px !important;
	}

	/* #blocksContainer3 {
		flex-grow: 1;
		background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 500px);
		padding-bottom: 150px;
		padding-top: 130px;
		padding: 85px;
		display: flex;
		flex-direction: column;
		gap: 70px;
		align-items: center;
	}

	#blocksContainer4 {
		padding-top: 0 !important;
		max-width: 90%;
		display: flex;
		flex-direction: column;
		gap: 70px;
	}

	@media screen and (max-width: 1000px) {
		#blocksContainer3 {
			padding-left: 8.5%;
			padding-right: 8.5%;
		}
	} */

	#liveInfoBlock {
		display: flex;
		gap: 80px;
		flex-wrap: wrap;
		flex-direction: row;
	}

	#liveInfoBlock div {
		flex: 1;
	}

	.logoTitle {
		width: 50%;
		max-width: 200px;
		min-width: 150px;
	}

	#linkButtonsBlockContainerContainer {
		width: 100%;
		margin-bottom: 60px;
		display: flex;
		justify-content: center;
	}

	#linkButtonsBlockContainer {
		font-size: 16px;
		width: 100%;
	}

	.logoWhite {
		color: white;
		filter: invert(48%) sepia(13%) saturate(0) hue-rotate(130deg) brightness(5000%) contrast(10000%);
	}

	#titleContainerContainer {
		background-color: rgba(0, 0, 0, 0);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	b {
		font-weight: 600 !important;
	}

	#titleContainer {
		display: flex;
		justify-content: center;
		height: 500px;
		align-items: center;
		flex-direction: column;
		font-size: 50px;
		padding: 0;
		margin-top: 50px;
	}

	#titleText {
		color: white;
		text-align: center;
		font-size: 50px;
		font-family: Poppins, sans-serif;
		font-weight: 500;
		word-wrap: break-word;
		white-space: break-spaces;
		font-size: 50px;
	}

	#titleDescriptionText {
		color: rgba(255, 255, 255, 0.737);
		font-size: 20px;
		font-weight: 100;
		text-align: center;
	}

	@media screen and (max-width: 1000px) {
		#titleText {
			font-size: 5vw;
		}
		#titleDescriptionText {
			font-size: 2vw;
		}
		.logoTitle {
			width: 20vw;
		}
	}

	@media screen and (max-width: 800px) {
		#titleText {
			font-size: calc(800px * 0.05);
		}
		#titleDescriptionText {
			font-size: calc(800px * 0.02);
		}
		.logoTitle {
			width: calc(800px * 0.2);
		}

		#blocksContainer1 {
			gap: 100px !important;
		}
	}

	@media (max-width: 480px) {
		#titleContainer {
			height: calc(100vh - 300px);
			margin-bottom: 70px;
		}
	}

	#blocksContainer1 {
		background-color: transparent;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;
		/* background: linear-gradient(
			147deg,
			rgb(45 90 77) 0%,
			rgb(11 14 32) 1200px,
			rgb(20, 39, 33) 100%
		); */
		padding: 0;
		/* background: linear-gradient(
      59deg,
      rgb(255, 166, 0) 0%,
      rgb(109 32 179) 50%,
      rgb(183 69 64) 100%
    ); */
		/* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
		/* background-image: linear-gradient(
      163deg,
      #181834,
      #30256c 500px,
      #8d623d 1300px
    ); */
		display: flex;
		flex-direction: column;
		gap: 200px;
		padding-bottom: 80px;
	}

	/* #blocksContainer2 {
		background: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 800px);
	} */
</style>
