<script lang="ts">
	interface rosterLink {
		name: string;
		link: string;
	}

	let roster: rosterLink[] = [
		{
			name: 'Roster',
			link: 'https://core.vateud.net/division/roster/POR'
		},
		{
			name: 'Tier 1',
			link: 'https://core.vateud.net/division/endorsements/tier-1/POR'
		},
		{
			name: 'Tier 2',
			link: 'https://core.vateud.net/division/endorsements/tier-2/POR'
		},
		{
			name: 'Solo',
			link: 'https://core.vateud.net/division/certifications/POR'
		},
	];
</script>

<pagebody>
	<h1 class="title"><b>Roster</b></h1>
	<p class="description">
		The authorized list of users allowed to control in the Portuguese subdivision.
	</p>
	<div
		id="linkButtonsContainer"
		style={`flex-wrap: 'wrap'}; flex-direction: right`}
	>
	{#each roster as rostee}
			<a href={rostee.link} class="linkButton">
				<p class="linkButtonTitle">{rostee.name}</p>
			</a>
		{/each}
	</div>
</pagebody>

<style>
	#staffMembersContainer {
		display: flex;
		padding-top: 70px;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		text-decoration: none;
		justify-content: center;
	}

	.staffMemberTitleContainer {
		font-size: 17px;
		font-weight: 600;
		margin: 0px 10px 10px 10px;
		text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.712);
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.staffMemberContainer {
		padding: 14px 20px 5px;
		text-align: start;
		display: flex;
		flex-direction: column;
		background-color: black;
		border-radius: 15px;
		margin-bottom: 0;
		border: rgba(255, 255, 255, 0.25) 1px solid;
		outline: rgba(255, 255, 255, 0.774) 0px solid;
		/* box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.13); */
		justify-content: space-between;
		transition: all 0.1s;
		cursor: pointer;
		width: 360px;
	}

	.staffMemberContainer:hover {
		outline-width: 4px;
		transition: all 0.1s;
	}

	pagebody {
		padding-top: 20px;
		max-width: 984px;
	}
</style>
