<script lang="ts">
	import type { Control } from 'leaflet';
	import { onMount } from 'svelte';

	interface ControllerData {
		client_id: number;
		rating_id: number;
		pilot_rating_id: number;
		lastratingchange: string;
		color: string;
	}

	interface Controller extends ControllerData {
		rating_name: string;
	}

	const ratingsTable: { [key: string]: string[] } = {
		'-1': ['INA', 'Inactive', '#ffffff57'],
		'0': ['SUS', 'Suspended', '#ffffff57'],
		'1': ['OBS', 'Pilot/Observer', '#ffffff'],
		'2': ['S1', 'Tower Trainee', '#669999'],
		'3': ['S2', 'Tower Controller', '#81DA66'],
		'4': ['S3', 'TMA Controller', '#006666'],
		'5': ['C1', 'Enroute Controller', '#3366CC'],
		'6': ['C2', 'Senior Controller', '#000066'],
		'7': ['C3', 'Senior Controller', '#000066'],
		'8': ['I1', 'Instructor', '#FFCC00'],
		'9': ['I2', 'Senior Instructor', '#CC6600'],
		'10': ['I3', 'Senior Instructor', '#CC6600'],
		'11': ['SUP', 'Supervisor', '#FF0000'],
		'12': ['ADM', 'Administrator', '#FF0000']
	};

	let controllers: Controller[] = [];

	onMount(async () => {
		let controllersdata: ControllerData[] = await (
			await fetch('https://mypanel.vatsim.pt/api/v1/roster/users?client_id_search=16299')
		).json();
		controllersdata.forEach((controllerdata: ControllerData) => {
			controllers.push({
				client_id: controllerdata.client_id,
				rating_id: controllerdata.rating_id,
				pilot_rating_id: controllerdata.pilot_rating_id,
				lastratingchange: controllerdata.lastratingchange,
				rating_name: ratingsTable[controllerdata.rating_id.toString()][0],
				color: ratingsTable[controllerdata.rating_id.toString()][2]
			});
		});
		controllers = controllers;
		// controllers = controllers.sort((a: Controller, b: Controller) => {
		// 	if (a.client_id > b.client_id) return 1;
		// 	else if (a.client_id < b.client_id) return -1;
		// 	else return 0;
		// });
	});

	// controllers.push({
	// 	client_id: 1629933,
	// 	rating_name: 'S1'
	// });
	// controllers.push({
	// 	client_id: 1096507,
	// 	rating_name: 'C3'
	// });
	// controllers.push({
	// 	client_id: 1438868,
	// 	rating_name: 'S3'
	// });
</script>

<pagebody>
	<h1 class="title">The <b>Roster</b></h1>
	<p class="description">
		The growing family of controllers in the vACC. These are the only controllers with permission to
		control under our Airspace. <br /> Please report any discrepancies.
	</p>

	<div id="contorllersContainer1">
		<div id="controllerContainerExampleContainer">
			<div class="controllerContainer controllerContainerExample">
				<span class="contrllerCidText contrllerCidTextExample">CID</span>
				<span class="contrllerRatingText contrllerRatingTextExample">Rating</span>
			</div>
		</div>
		<div id="controllersContainer2">
			{#each controllers as controller}
				<div class="controllerContainer" style="outline-color: {controller.color}">
					<span class="contrllerCidText">{controller.client_id}</span>
					<span class="contrllerRatingText">{controller.rating_name}</span>
				</div>
			{/each}
		</div>
	</div>
</pagebody>

<style>
	#controllerContainerExampleContainer {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-bottom: 20px;
		margin-top: -30px;
	}

	#contorllersContainer1::-webkit-scrollbar {
		width: 0px;
	}

	.controllerContainerExample {
		transform: scale(0.9);
	}

	.contrllerRatingTextExample {
		padding-right: 10px !important;
	}

	.contrllerCidTextExample {
		width: 75px !important;
	}

	#contorllersContainer1 {
		height: calc(100vh - 700px);
		margin-top: 50px;
		overflow: auto;
		border: 1px rgba(255, 255, 255, 0.329) solid;
		border-left: 0;
		border-right: 0;
		padding: 50px;
	}

	.contrllerCidText {
		background-color: rgba(255, 255, 255, 0.151);
		color: rgb(255, 255, 255);
		border-radius: 7px 7px 7px 7px;
		width: 100px;
		text-align: center;
		padding-bottom: 1px;
	}

	.contrllerRatingText {
		color: rgb(255, 255, 255);
		padding: 0px 6px 0px 0px;
	}

	.controllerContainer {
		color: white;
		background-color: rgba(0, 0, 0, 0.411);
		height: 25px;
		width: 150px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: monospace;
		outline: rgba(255, 255, 255, 0.205) 1px solid;
		border-radius: 7px;
	}

	#controllersContainer2 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 10px;
	}
</style>
