<script lang="ts">
	import { goto } from '$app/navigation';
	import { vatsimEvents } from '../../stores';
	import EventsList from '../../components/EventsList.svelte';
	function extractDateAndZuluTime(dateString: string): {
		date: string;
		zuluTime: string;
	} {
		const dateTimeParts = dateString.split('T');
		const date = dateTimeParts[0];
		const zuluTime = dateTimeParts[1].replace(':00.000000Z', '').replace(':', '') + 'z';
		return { date, zuluTime };
	}
</script>

<pagebody>
	<div>
		<h1 class="title">Events</h1>
		<p class="description">Elevate your VATSIM experience during our events.</p>
	</div>

	<EventsList />
</pagebody>

<style>
</style>
