<script lang="ts">
	interface staffMember {
		name: string;
		callsign: string;
	}

	let staff: staffMember[] = [
		{
			name: 'Miguel Branco da Silva',
			callsign: 'ACCPT40'
		},
		{
			name: 'Pedro Sousa',
			callsign: 'ACCPT41'
		},
		{
			name: 'Nuno Chambel',
			callsign: 'ACCPT42'
		},
		{
			name: 'Pedro Rodrigues',
			callsign: 'ACCPT43'
		},
		{
			name: 'Daniel Gomes',
			callsign: 'ACCPT44'
		}
	];
</script>

<pagebody>
	<h1 class="title">The <b>Founders</b></h1>
	<p class="description">
		The people that made it all possible in the first place. We thank them for their hard work in
		creating this vACC that we passionately continue to develop.
	</p>

	<div id="staffMembersContainer">
		{#each staff as staffMember}
			<div class="staffMemberContainer">
				<div class="staffMemberTitleContainer">
					<p class="staffMemberTitle">{staffMember.name}</p>
				</div>
			</div>
		{/each}
	</div>
</pagebody>

<style>
	#staffMembersContainer {
		display: flex;
		padding-top: 70px;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		text-decoration: none;
		justify-content: center;
	}

	.staffMemberTitleContainer {
		font-size: 17px;
		font-weight: 600;
		margin: 0px 10px 10px 10px;
		text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.712);
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.staffMemberContainer {
		padding: 14px 20px 5px;
		text-align: start;
		display: flex;
		flex-direction: column;
		background-color: black;
		border-radius: 15px;
		margin-bottom: 0;
		border: rgba(255, 255, 255, 0.25) 1px solid;
		outline: rgba(255, 255, 255, 0.774) 0px solid;
		/* box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.13); */
		justify-content: space-between;
		transition: all 0.1s;
		cursor: pointer;
		width: 360px;
	}

	.staffMemberContainer:hover {
		outline-width: 4px;
		transition: all 0.1s;
	}

	pagebody {
		padding-top: 20px;
		max-width: 984px;
	}
</style>
