<script lang="ts">
	import paypal from '../../assets/paypal.png';
</script>

<pagebody>
	<div>
		<h1 class="title">Help us by <b>Donating</b>!</h1>
		<p class="description">Show your support for Portugal vACC and help us stay operational!</p>
	</div>

	<img id="donateGif" src="https://c.tenor.com/ZUUbZwT8eL8AAAAd/broke-poor.gif" alt="donate plz" />

	<div id="donateButtonContainer1">
		<div id="donateButtonContainer2">
			<a href="https://www.paypal.com/donate?hosted_button_id=YNEWAV9S2NZS6" id="donateButton">
				<p id="donateButtonTitle">Donate</p>
				<img alt="PayPal Logo" id="donateButtonPayPalLogo" src={paypal} />
			</a>
		</div>
	</div>

	<div class="sectionContainer">
		<h3 class="sectionTitle">Donation <b>Agreement</b></h3>
		<p class="sectionContent" />
		<div class="sectionContentText">
			This is the agreement that Portugal vACC is required to present between the vACC and any
			VATSIM member who wishes to donate to our PayPal. Since the vACC is run voluntarily by our
			staff who pay for all the expenses, any donations are greatly appreciated. Your donations will
			go exclusively towards:
			<ul id="donationAgreementBulletPoints">
				<li>The server hosting bill;</li>
				<li>The domain renewal;</li>
				<li>Upgrades to the web services/systems;</li>
				<li>
					Other expenses related to the work of the vACC (space rental for local events, etc).
				</li>
			</ul>
		</div>
	</div>

	<div class="sectionContainer">
		<h3 class="sectionTitle">Our Agreement with <b>You</b></h3>
		<p class="sectionContent" />
		<div class="sectionContentText">
			<ul id="agreementWithYouBulletPoints">
				<li>
					Portugal vACC will continue to work proactively to grow our community and will do its
					utmost to constantly improve the final product to our membership;
				</li>
				<li>
					We do not disclose any personal details of those who have donated or how much they have
					donated;
				</li>
				<li>You may, at any time, request to see a copy of the up-to-date balance sheet;</li>
				<li>
					No special privileges are granted to any members who do donate as per the agreement with
					the VATSIM BoG (although we are very grateful).
				</li>
			</ul>
		</div>
		<div id="lastUpdated">
			<bubble id="lastUpdatedText">This Agreement was last amended on 20/07/2021</bubble>
		</div>
	</div>
</pagebody>

<style>
	pagebody {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 50px;
		max-width: 950px;
	}

	#lastUpdated {
		margin-top: 30px !important;
		margin-bottom: 30px;
		align-self: flex-start;
	}

	#lastUpdatedText {
		font-size: 14px;
		font-weight: 600;
	}

	.sectionContentText {
		color: white;
		margin-top: 20px;
	}

	#donationAgreementBulletPoints {
		margin-top: 30px;
		margin-left: -13px;
		text-align: left;
	}

	#agreementWithYouBulletPoints {
		margin-left: -13px;
		text-align: left;
	}

	#donateGif {
		width: 100%;
		box-shadow: 0 0 50px #0000008b;
		filter: contrast(1.3) saturate(0);
		/* border: 1px rgb(255 255 255 / 42%) solid; */
		border-radius: 20px;
	}

	.sectionTitle {
		color: white;
		font-weight: 400;
	}

	#donateButtonPayPalLogo {
		width: 35px;
		margin-bottom: -5px;
	}

	#donateButton {
		background-color: rgba(0, 0, 0, 0.437);
		border: 1px rgba(255, 255, 255, 0.157) solid;
		outline-offset: 5px;
		padding: 15px 25px;
		border-radius: 20px;
		text-decoration: none;
		text-align: center;
		box-shadow: inset 0 0 50px #ffffff0d;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 20px;
		align-self: center;
	}

	#donateButtonTitle {
		color: white;
		font-weight: 600;
		font-size: 30px;
		font-weight: 300;
	}

	#donateButtonContainer1 {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#donateButtonContainer2 {
		width: 100%;
		max-width: 400px;
		border-radius: 20px;
		transition: all 0.1s;
	}

	#donateButtonContainer2:hover {
		transition: all 0.1s;
		box-shadow: 6px 6px 0 0px rgb(0, 242, 255);
		translate: -6px -6px;
	}
</style>
