<script lang="ts">
</script>

<pagebody>
	<h1 class="title"><b>Airspace</b></h1>
	<p class="description">
		Here is the map for the LPPC airspace to help you find your way around Portugal!
	</p>
	<img
		alt="frequencies map"
		src="https://docs.google.com/drawings/d/e/2PACX-1vQ2XStx9AbtyLXiM1IW-P0lZvIUvb-FIrLi5JgDzY9vWtQx1DbA_Q1ZNUqvqWCHMjHG6sHqgWgifJPI/pub?w=829&amp;h=723"
	/>
</pagebody>

<style>
	pagebody {
		padding-top: 20px;
	}

	img {
		margin-top: 60px;
		width: calc(100%) !important;
	}
</style>
