<script>
</script>

<pagebody>
	<h1 class="title"><b>Join</b> Us!</h1>
	<p class="description">
		Whether you're a seasoned VATSIM enthusiast or just spreading your wings, join us for a fresh
		perspective. Experience the vibrant side of VATSIM Air Traffic Controlling!
	</p>
	<div id="textContainer">
		<div class="sectionContainer">
			<h4 class="sectionTitle">Prerequisites</h4>
			<p class="sectionDescription">
				To become a VATSIM controller, you must meet the following criteria.
			</p>
			<div class="sectionContent">
				<p class="sectionContentSection">
					<span class="sectionCheckBox" /> • &nbsp; Be a member of VATSIM. To sign up, follow this
					article
					<a
						href="https://vatsim.net/docs/about/join-vatsim"
						rel="noreferrer noopener"
						tabindex="0"
						target="_blank"
						title="https://vatsim.net/docs/about/join-vatsim">Join VATSIM</a
					>
				</p>
				<hr />
				<p class="sectionContentSection">
					<span class="sectionCheckBox" /> • &nbsp; Have your VATSIM account associated with
					Portugal vACC. To do so, access
					<a
						href="https://members.vateud.net/"
						rel="noreferrer noopener"
						tabindex="0"
						target="_blank"
						title="https://members.vateud.net/">VATEUD Membership Department</a
					> and request membership to Portugal vACC.
				</p>
			</div>
		</div>

		<div class="sectionContainer">
			<h4 class="sectionTitle">Request Training</h4>
			<p class="sectionDescription">
				The following steps will get you started on becoming a Portugal vACC controller
			</p>
			<div class="sectionContent">
				<p class="sectionContentSection">
					<span class="sectionCheckBox" /> • &nbsp; Make a request to join the training queue at
					<a
						href="https://ats.portugal-vacc.org/"
						rel="noreferrer noopener"
						tabindex="0"
						target="_blank"
						title="https://ats.portugal-vacc.org/">ATC Training System (ATS)</a
					>.
				</p>
				<hr />
				<p class="sectionContentSection">
					<span class="sectionCheckBox" /> • &nbsp; After completing the aforementioned steps, expect
					an email from noreply@portugal-vacc.org or training@portugal-vacc.org when it's your turn to
					start training.
				</p>
				<hr />
				<p class="sectionContentSection">
					<span class="sectionCheckBox" /> • &nbsp; This may take a few weeks. You can monitor your position
					in the queue on the ATS website linked above.
				</p>
			</div>
		</div>
	</div>
	<!-- <p class="description footer">
		For any further questions, please contact a member of the training staff on Discord or send an
		email to training@portugal-vacc.org.
	</p> -->
</pagebody>

<style>
	#textContainer {
		color: white;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	.sectionTitle {
		margin-bottom: 5px;
		font-weight: 400;
	}

	.sectionDescription {
		color: rgba(255, 255, 255, 0.504);
		margin-bottom: 20px !important;
	}

	.sectionContent {
		background-color: rgba(255, 255, 255, 0.086);
		padding: 30px;
		border-radius: 20px;

		font-size: 16px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		text-align: start;
		box-shadow: 0 0 0 black;
	}

	.sectionCheckBox {
		margin-right: 10px;
	}

	.description {
		margin-bottom: 50px !important;
	}

	/* .footer {
		margin-top: 50px !important;
		color: rgba(255, 255, 255, 0.148);
	} */

	pagebody {
		padding-top: 20px;
		padding-bottom: 0;
		margin-bottom: -10px;
	}

	hr {
		margin: 5px;
	}
</style>
