<script lang="ts">
	import { onMount } from 'svelte';
	import { fade, slide } from 'svelte/transition';
	import { airportIcaos } from '../stores';
	import AirportInfo from './AirportInfo.svelte';

	export let types: DocType[] = [];

	export let defaultType: DocType = {
		name: 'All',
		regex: /.*/gm,
		id: 0,
		tag: false,
		extraTags: []
	};

	let docTypes = [defaultType];

	$: {
		docTypes = [defaultType, ...types];
		types = types;
	}

	export let docs: Document[] = [];
	export let query: string = '';
	export let docType: DocType = docTypes[0];
	export let classId: string = 'documentType';
	export let isLoading: boolean = false;
	export let displayedDocs: Document[] = [];

	$: {
		displayedDocs = sortDocuments(filterDocuments(docs));
		docs = docs;
		query = query;
	}

	interface DocType {
		name: string;
		regex: RegExp;
		id: number;
		tag: boolean;
		extraTags: RegExp[];
	}

	interface Document {
		name: string;
		link: string;
		types: number[];
		type?: DocType;
	}

	function capitalize(str: string, characters: string[] = [' ', '/', '-']): string {
		let out = str.toLowerCase();
		for (let char of characters) {
			const words = out.split(char);
			const capitalizedWords = words.map((word) =>
				word[0] ? word[0].toUpperCase() + word.slice(1) : ''
			);
			out = capitalizedWords.join(char);
		}
		return out;
	}

	function matchesQuery(documentName: string) {
		if (!query || query.length === 0) return true;
		let queryVariations = [query.toUpperCase(), capitalize(query)];
		let documentNameVariations = [
			documentName.toUpperCase(),
			documentName.replaceAll(' ', '').replaceAll('-', '').replaceAll('/', '')
		];
		for (let query of queryVariations) {
			for (let documentName of documentNameVariations) {
				if (documentName.includes(query)) return true;
				let wordsMatched = 0;
				for (let word of query.split(' ')) {
					if (
						word != ' ' &&
						(documentName.includes(' ' + word) || documentName.includes(word + ' '))
					)
						wordsMatched++;
				}
				if (wordsMatched === query.split(' ').length) return true;
			}
		}
		return false;
	}

	function filterDocuments(...args: any[]) {
		var out: Document[] = [];
		for (const doc of docs) {
			if (doc.name.match(docType.regex) && matchesQuery(doc.name)) out.push(doc);
		}
		return out;
	}

	function sortDocuments(_docs: Document[] = docs): Document[] {
		var types: Document[][] = [];
		for (let index in docTypes) {
			types[index] = [];
		}
		for (const document of _docs) {
			let t = docTypes[0];
			let typeIndex = -1;
			let revdocTypes = structuredClone(docTypes);
			revdocTypes.reverse();
			for (const documentType of revdocTypes) {
				typeIndex++;
				if (document.name.match(documentType.regex)) {
					t = documentType;
					break;
				}
			}
			types[typeIndex].push({ name: document.name, link: document.link, types: [], type: t });
		}
		let out: Document[] = [];
		for (let typeList of types) {
			out.push(...typeList);
		}
		out.reverse();
		return out;
	}
</script>

{#if isLoading}
	<div id="loadingIndicator" in:fade={{ duration: 100 }} out:fade={{ duration: 100 }}>
		<p>Loading...</p>
	</div>
{:else}
	<div id="documentsContainer1" in:fade={{ duration: 200 }} out:fade={{ duration: 200 }}>
		{#each sortDocuments(filterDocuments(docType, query, docs)) as document}
			{@html (() => {
				const documentName = document.name;
				let out = `<a class="documentContainer1 ${
					//@ts-expect-error
					document.type?.id === defaultType.id ? 'docsListTypeDefault' : classId + document.type.id
				}" href="${document.link}" target="_blank">`;
				let extraTagsString = '';
				//@ts-expect-error
				for (let extraTagRegex of document.type?.extraTags) {
					let extraTagMatches = documentName.match(extraTagRegex);
					let extraTags = extraTagMatches ? extraTagMatches.map((match) => match) : [];
					extraTagsString += extraTags
						.map(
							(extraTag) =>
								`<bubble class="documentBubble documentExtraBubble">${extraTag.toUpperCase()}</bubble>`
						)
						.join('');
				}

				let bubblesString =
					extraTagsString +
					(document.type?.tag
						? `<bubble class="documentBubble documentTypeBubble">${
								document.type?.id === defaultType.id ? 'Other' : document.type.name
							}</bubble>`
						: '');
				out += `<div class="documentContainer2">${
					documentName +
					(bubblesString
						? `<div class="documentBubblesContainer">
								${bubblesString}
								</div>`
						: '')
				}</div>`;

				return out + '</a>';
			})()}
		{/each}
	</div>
{/if}

<style>
	:global(.documentBubble) {
		margin: 0 !important;
		padding: 0 5px 0 5px !important;
		display: block;
		font-family: monospace;
		flex: 1;
		text-align: center;
		font-size: 1.1em;
		max-width: min-content;
	}

	:global(.documentRwyBubble) {
		background-color: rgb(88 88 88);
	}

	:global(.documentTypeBubble) {
		outline-width: 1.5px !important;
	}

	:global(.documentContainer2) {
		display: flex;
		flex-direction: column;
		gap: 10px;
		row-gap: 5px;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		font-family: monospace;
		font-size: 12px;
	}

	:global(.documentBubblesContainer) {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: flex-end;
		gap: 10px;
	}

	:global(.documentContainer1) {
		color: rgb(255, 255, 255);
		padding: 10px;
		border-radius: 10px;
		background-color: rgb(0 0 0 / 38%);
		border: rgb(255 255 255 / 13%) 3px solid;
		outline: rgb(255 255 255 / 13%) 0px solid;
		text-decoration: none;
		box-shadow: inset 0px 0px 20px #00000021;
		text-align: start;
		flex: 1 0 50%;
		min-width: 100px;
		transition: all 0.05s;
		cursor: pointer;
	}

	:global(.documentContainer1:hover) {
		/* background-color: rgba(230, 230, 230, 0.381); */
		transition: all 0.05s;
		outline-width: 3px;
		/* box-shadow: 0px 0px 10px #ffffffac; */
		color: rgb(255, 255, 255);
	}

	#documentsContainer1 {
		color: white;
		display: flex;
		gap: 10px;
		width: 100%;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-content: space-around;
		max-width: 800px;
		overflow-y: auto;
		padding: 5px 5px;
	}

	#loadingIndicator {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.167);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		padding: 10px 20px 10px 20px;
		color: white;
		border-radius: 30px;
	}

	p {
		margin-bottom: 0;
	}
</style>
