<script lang="ts">
	import { goto } from '$app/navigation';
	import { vatsimEvents } from '../stores';
	function extractDateAndZuluTime(dateString: string): {
		date: string;
		zuluTime: string;
	} {
		const dateTimeParts = dateString.split('T');
		const rawDate = dateTimeParts[0];
		const zuluTime = dateTimeParts[1].replace(':00.000000Z', '').replace(':', '') + 'z';
		let dateParts = rawDate.split('-');
		dateParts.reverse();
		const date = dateParts.join('/');
		return { date, zuluTime };
	}
</script>

<div id="eventsContainer">
	{#each $vatsimEvents as vatsimEvent}
		<div
			class="eventContainer1"
			style="background: url('{vatsimEvent.banner}'); background-position: center; background-size: cover;"
		>
			<button
				class="eventContainer2"
				on:click={() => {
					goto('/events/' + vatsimEvent.id);
				}}
			>
				<p class="eventTitle">{vatsimEvent.name}</p>
				<div class="timeBlobsContainer">
					<div class="timeBlob">
						{extractDateAndZuluTime(vatsimEvent.start_time).date.replaceAll('-', '/')}
					</div>
					<div class="timeBlob">
						{extractDateAndZuluTime(vatsimEvent.start_time).zuluTime} - {extractDateAndZuluTime(
							vatsimEvent.end_time
						).zuluTime}
					</div>
				</div>

				<p class="eventDescription">
					{@html vatsimEvent.short_description.replaceAll('<br>', '')}
				</p>
			</button>
		</div>
	{/each}
</div>

<style>
	#eventsContainer {
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		gap: 30px;
		flex-wrap: wrap;
	}

	.timeBlobsContainer {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}

	.eventContainer1 {
		border-radius: 20px;
		box-shadow: inset 0px 0 20px rgba(0, 0, 0, 0.575);
		transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		background-size: contain;
		width: 100%;
	}

	.eventContainer1:hover {
		transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		box-shadow: inset 0px 0 50px rgba(0, 0, 0, 0.575);
	}

	.eventContainer2 {
		background-color: rgba(0, 0, 0, 0.575);
		display: flex;
		flex-direction: column;
		padding: 25px 30px;
		text-align: start;
		gap: 10px;
		border-radius: 20px;
		border: none;
		backdrop-filter: blur(5px);
		outline: rgba(255, 255, 255, 0.138) 1px solid;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0.575);
		width: 100%;
	}

	.eventTitle {
		font-size: 20px;
		font-weight: 600;
	}

	.timeBlob {
		text-decoration: none;
		color: rgb(217, 217, 217);
		background-color: rgba(255, 255, 255, 0.148);
		font-size: 14px;
		padding: 7px;
		padding-right: 8px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-radius: 7px;
		margin-right: 5px;
		white-space: nowrap;
		line-break: strict;
		margin-bottom: 5px;
		width: fit-content;
	}

	:global(.eventDescription p) {
		color: rgba(255, 255, 255, 0.667);
	}
</style>
