<script lang="ts">
	import { onMount } from 'svelte';
	import { vatsimEvents } from '../stores';
	import EventsList from './EventsList.svelte';

	function extractDateAndZuluTime(dateString: string): {
		date: string;
		zuluTime: string;
	} {
		const dateTimeParts = dateString.split('T');
		const date = dateTimeParts[0];
		const zuluTime = dateTimeParts[1].replace(':00.000000Z', '').replace(':', '') + 'z';
		return { date, zuluTime };
	}

	function convertDateFormat(inputDate: string): string {
		let year = inputDate.slice(2, 4);
		const month = inputDate.slice(5, 7);
		const day = inputDate.slice(8, 10);

		const currentYear = new Date().getFullYear().toString().slice(2);
		const currentCentury = new Date().getFullYear().toString().slice(0, 2);

		if (parseInt(year) > parseInt(currentYear)) {
			year = (parseInt(currentCentury) - 1).toString() + year;
		} else {
			year = currentCentury + year;
		}

		const outputDate = `${day}/${month}/${year}`;

		return outputDate;
	}
</script>

{#if $vatsimEvents.length > 0}
	<div id="eventsBlock" class="block innerBlock">
		<h1 class="title">Take part in the <b>events</b>!</h1>
		<p class="description">
			Ready to take your virtual flight to the next level? Don't miss out! Take part in our events!
		</p>
		<div id="eventsListContainer">
			<EventsList />
		</div>
	</div>
{/if}

<style>
	.description {
		margin-bottom: 40px !important;
	}

	#eventsListContainer {
		filter: saturate(0.5);
	}

	#eventsBlock {
		width: 100%;
	}

	/* #eventsContainer {
    padding: 20px;
    padding-top: 0px !important;
    padding-bottom: 18px !important;
  } */

	/* .eventsSeparator {
    color: white !important;
    width: 30%;
    align-items: center;
    margin-left: 20px;
  } */
</style>
