<script lang="ts">
	import { fade, slide } from 'svelte/transition';

	interface Aerodrome {
		[key: string]: string | number | Array<any> | object;
		icao: string;
		name: string;
		geo_adm_data: {
			arp_coordinates_and_site: string;
			direction_and_distance_of_arp_from_city_or_town: string;
			elevationreference_temperature: string;
			geoid_undulation_at_aerodrome_elevation_position: string;
			mag_varannual_change: string;
			ad_administration_address_telephone_telefax_telex_afs_e_mail_and_web_url: string;
			types_of_traffic_permitted_ifrvfr: string;
			remarks: string;
		};
		operational_hours: {
			ad_administration: string;
			customs_and_immigration: string;
			health_and_sanitation: string;
			ais_briefing_office: string;
			ats_reporting_office_aro: string;
			met_briefing_office: string;
			ats: string;
			fuelling: string;
			handling: string;
			security: string;
			de_icing: string;
			remarks: string;
		};
		handling_services: {
			cargo_handling_facilities: string;
			fueloil_types: string;
			fuelling_facilitiescapacity: string;
			de_icing_facilities: string;
			hangar_space_available_for_visiting_aircraft: string;
			repair_facilities_for_visiting_aircraft: string;
			remarks: string;
		};
		passenger_facilities: {
			hotels: string;
			restaurants: string;
			transportation: string;
			medical_facilities: string;
			bank_and_post_office: string;
			tourist_office: string;
			remarks: string;
		};
		rescue_fire_fight_services: {
			ad_category_for_fire_fighting: string;
			rescue_equipment: string;
			capability_for_removal_of_disabled_aircraft: string;
			remarks: string;
		};
		meteo_info: {
			associated_met_office: string;
			hours_of_service: string;
			office_responsible_for_taf_preparation_periods_of_validity: string;
			type_of_landing_forecast: string;
			briefingconsultation_provided: string;
			flight_documentation_languages_used: string;
			charts_and_other_information_available_for_briefing_or_consultation: string;
			supplementary_equipment_available_for_providing_information: string;
			ats_units_provided_with_information: string;
			additional_information_limitation_of_service_etc_: string;
		};
		runways: AerodromeRunway[];
		distances: AerodromeDistance[];
		airspace: {
			designation_and_lateral_limits: string;
			vertical_limits: string;
			airspace_classification: string;
			ats_unit_call_sign__languages: string;
			transition_altitude: string;
			remarks: string;
		};
		frequencies: AerodromeFrequency[];
		navaids: AerodromeNavaid[];
	}

	interface AerodromeRunway {
		designation: string;
		true_brg: string;
		dimensions_of_rwy_m: string;
		strength_pcn_and_surface_of_rwy_and_swy: string;
		thr_coord_rwy_end_geoidundulation: string;
		thr_elevation_and_highest_elevation_of_tdz_of_precision_apch_rwy: string;
		slope_of_rwyswy: string;
		swy_dimensions_m: string;
		y_dimensions_m: string;
		strip_dimensions_m: string;
		resa: string;
		ofz: string;
		remark: string;
	}

	interface AerodromeDistance {
		rwy_designator: string;
		tora_m: string;
		toda_m: string;
		asda_m: string;
		lda_m: string;
		remarks: string;
	}

	interface AerodromeFrequency {
		service_designation: string;
		call_sign: string;
		frequency: string;
		hours_of_operation: string;
		remarks: string;
	}

	interface AerodromeNavaid {
		type_category_mag_variation: string;
		id: string;
		frequency: string;
		hours_of_operation: string;
		site_of_transmitting_antenna_coordinates: string;
		elevation_of_dme_transmitting_antenna: string;
		remarks: string;
	}

	type jsonObj = { [key: string | number]: string | number | Array<any> | jsonObj };
	export let json: jsonObj | undefined;
	export let root: boolean = false;
	export let title: string;
	export let expand: boolean = false;
	export let keys: string[] = [];
	let isArray: boolean = Array.isArray(json);
	$: {
		isArray = Array.isArray(json);
	}

	$: {
		if (json) {
			keys = Object.keys(json);
			json = json;
		}
	}

	function capitalize(str: string, characters: string[] = [' ', '/', '-']): string {
		let out = str.toLowerCase();
		for (let char of characters) {
			const words = out.split(char);
			const capitalizedWords = words.map((word) =>
				word[0] ? word[0].toUpperCase() + word.slice(1) : ''
			);
			out = capitalizedWords.join(char);
		}
		return out;
	}

	let keysContainerInOut = !root ? slide : fade;
</script>

<div id="valuesContainer" class={!root ? 'valuesContainer' : ''}>
	{#if !root}
		<button
			class="valueTitle objectValueTitle"
			on:click={() => {
				expand = !expand;
			}}
		>
			{#if typeof title === 'string'}
				<span>
					{title}
				</span>
			{:else}
				<bubble class="titleBubble">
					{title}
				</bubble>
			{/if}
			<i class="bi bi-caret-up-fill expandIcon {expand ? 'iconUpsideDown' : ''}" />
		</button>
	{/if}

	{#if json && expand}
		<div
			id="keysContainer"
			in:keysContainerInOut={{ duration: !root ? 300 : 100 }}
			out:keysContainerInOut={{ duration: !root ? 300 : 100 }}
		>
			{#each keys as key}
				{#if typeof json[key] !== 'object'}
					<div class="valueContainer">
						<div class="valueTitleContainer">
							<p class="valueTitle">{capitalize(key.replaceAll('_', ' '))}</p>
						</div>
						<div class="valueDescriptionContainer">
							<p class="valueDescription">{json[key]}</p>
						</div>
					</div>
				{:else}
					<svelte:self
						json={json[key]}
						title={isArray ? parseInt(key) : capitalize(key.replaceAll('_', ' '))}
					/>
				{/if}
			{/each}
		</div>
	{/if}
</div>

<style>
	bubble {
		margin-bottom: 0;
	}

	.titleBubble {
		width: 50px;
		margin-right: 15px;
		text-align: center;
	}

	#keysContainer {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 10px;
	}

	#valuesContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-family: monospace;
	}

	.valueTitle {
		color: white;
		text-align: center;
		border-radius: 10px;
		box-shadow: 0px 0px 0px white;
		border: none;
	}

	.objectValueTitle {
		background-color: transparent;
		text-align: start;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	.valuesContainer {
		padding: 10px;
		padding-bottom: 0;
		border-radius: 10px;
		border: 1px rgba(255, 255, 255, 0.137) solid;
	}

	.iconUpsideDown {
		transform: rotate(180deg);
		transition: all 0.1s;
	}

	.expandIcon {
		transition: transform 0.3s;
	}

	.valueContainer {
		width: 100%;
		/* background-color: #000000a3; */
		padding: 0px 0px 0px 0px;
		display: flex;
		border-radius: 10px;
		/* outline: rgba(255, 255, 255, 0.165) 1px solid; */
		min-height: min-content;
		flex-direction: column;
		align-content: stretch;
		align-items: stretch;
	}

	.valueTitleContainer {
		background-color: transparent;
		/* background-color: #323437; */
		border: rgba(255, 255, 255, 0.165) 1px solid;
		min-height: 40px;
		border-radius: 10px 10px 0px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px;
		padding-left: 12px;
		padding-right: 12px;
	}

	.valueTitleContainer p {
		margin: 0 !important;
		color: rgb(255, 255, 255);
		font-size: 13px;
	}

	.valueDescriptionContainer {
		display: flex;
		align-items: center;
		justify-content: start;
		width: 100%;
		overflow: hidden;
		padding: 15px;
		text-align: center;
		background-color: #00000046;
		border: rgba(255, 255, 255, 0.165) 1px solid;
		border-radius: 0 0px 10px 10px;
		font-size: 13px;
	}

	.valueDescription {
		word-wrap: break-word;
		text-align: center;
		width: 100%;
	}
</style>
