<script lang="ts">
	export let size: 'small' | 'medium' | 'big' = 'big';
	export let flexWrap = true;
	export let direction: 'row' | 'column' = 'row';

	function expand_buttons(buttongroups: (buttonGroup | button)[]) {
		let out: button[] = [];
		for (let buttongrouporbutton of buttongroups) {
			if (buttongrouporbutton.type == 'button') out.push(buttongrouporbutton);
			else if (buttongrouporbutton.type == 'group') out.push(...buttongrouporbutton.buttons);
		}
		return out;
	}

	interface button {
		title: string;
		description: string;
		link: string;
		type: 'button';
	}

	interface buttonGroup {
		title: string;
		description: string;
		buttons: button[];
		type: 'group';
	}

	const buttons: (buttonGroup | button)[] = [
		{
			title: 'Pilots',
			description: 'Pilots',
			type: 'group',
			buttons: [
				{ title: 'Airports', description: 'Controlled Fields', link: '/airports', type: 'button' },
				{ title: 'Charts', description: 'Up-to-date Charts', link: '/charts', type: 'button' },
				// { title: 'TagSense', description: 'TSAT Lookup', link: '/tagsense', type: 'button' },
				{ title: 'Weather', description: 'Meteo Reports', link: '/weather', type: 'button' }
			]
		},
		// {
		// 	title: 'Controllers',
		// 	description: 'Controllers',
		// 	type: 'group',
		// 	buttons: [
		//		{ title: 'Resources', description: 'ATC Hub', link: '/atc', type: 'button' }
		// 	]
		// },
		{
			title: 'Community',
			description: 'Community',
			type: 'group',
			buttons: [
				{
					title: 'Discord',
					description: 'Community Server',
					link: 'https://discord.portugal-vacc.org',
					type: 'button'
				},
				{
					title: 'X',
					description: 'Formerly Known as Twitter',
					link: 'https://twitter.com/VaccPortugal',
					type: 'button'
				},
				{
					title: 'Facebook',
					description: 'Still Exists',
					link: 'https://www.facebook.com/groups/271150703089/',
					type: 'button'
				}
			]
		},
		{
			title: 'About Us',
			description: 'About the vACC',
			type: 'group',
			buttons: [
				{
					title: 'Donate',
					description: 'Help us out!',
					link: '/donate',
					type: 'button'
				},
				{ title: 'Airspace', description: 'What we see', link: '/airspace', type: 'button' },
				{ title: 'Staff', description: 'Meet the team!', link: '/staff', type: 'button' },
				{
					title: 'Founders',
					description: 'How we came along',
					link: '/history',
					type: 'button'
				},
				{ title: 'Roster', description: 'Our controllers', link: '/roster', type: 'button' }
			]
		},
		{ title: 'Events', description: 'Aviate Together', link: '/events', type: 'button' },
		{
			title: 'Join Us',
			description: 'Connect and Learn.',
			link: '/join',
			type: 'button'
		},
		{
			title: 'Feedback',
			description: 'Contact the crew',
			link: '/feedback',
			type: 'button'
		},
		{
			title: 'Resources',
			description: 'ATC Hub',
			link: '/atc',
			type: 'button'
		},
		{ title: 'Bookings', description: 'ATC Bookings', link: '/bookings', type: 'button' }
	];
</script>

{#if size === 'small'}
	<ul class="buttons-small-container" style="margin: 0; margin-left: -32px; height: 28px;">
		{#each buttons as item}
			{#if item.type == 'button'}
				<a class="topNavBtn" href={item.link}>{item.title}</a>
			{:else}
				<li class="dropdown">
					<a href=" " class="topNavBtn"
						>{item.title}
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-caret-down-fill navbarCaret"
							viewBox="0 0 16 16"
						>
							<path
								d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
							/>
						</svg>
					</a>
					<div class="dropdown-content-container">
						<div class="dropdown-content">
							{#each item.buttons as button}
								<a class="topNavBtn" href={button.link}>{button.title}</a>
							{/each}
						</div>
					</div>
				</li>
			{/if}
		{/each}
	</ul>
{:else if size === 'medium'}
	<div
		id="linkButtonsContainer"
		style={`flex-wrap: ${flexWrap ? 'wrap' : 'nowrap'}; flex-direction: ${direction}`}
	>
		{#each expand_buttons(buttons) as button}
			<a href={button.link} class="linkButtonMed">
				<p class="linkButtonTitle">{button.title}</p>
				<p class="linkButtonDescription">{button.description}</p>
			</a>
		{/each}
	</div>
{:else}
	<div
		id="linkButtonsContainer"
		style={`flex-wrap: ${flexWrap ? 'wrap' : 'nowrap'}; flex-direction: ${direction}`}
	>
		{#each expand_buttons(buttons) as button}
			<a href={button.link} class="linkButton">
				<p class="linkButtonTitle">{button.title}</p>
				<p class="linkButtonDescription">{button.description}</p>
			</a>
		{/each}
	</div>
{/if}

<style>
	.navbarCaret {
		margin-left: -3px;
		margin-bottom: 2px;
		scale: 0.8;
		color: rgba(255, 255, 255, 0.815);
	}

	nav ul li {
		display: inline-block;
		position: relative; /* Required for positioning the dropdown */
	}

	nav ul li a {
		text-decoration: none;
		color: #333;
	}

	.dropdown-content-container {
		padding-top: 10px;
		background: transparent;
	}

	/* Style the dropdown menu */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: rgb(29, 29, 29);
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		margin-top: 0px;
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 4px;
		padding-right: 8px;
		border-radius: 10px;
		margin-left: 5px;
	}

	.dropdown-content a {
		display: block;
		margin-top: 5px;
		text-decoration: none;
		color: #333;
		height: 30px;
	}

	/* Show the dropdown on hover */
	nav ul li:hover .dropdown-content {
		display: block;
	}

	p {
		margin-bottom: 0;
	}

	#linkButtonsContainer {
		display: flex;
		gap: 15px;
		width: 100% !important;
		align-items: center;
	}

	.linkButton {
		background-color: rgba(0, 0, 0, 0.437);
		outline: 1px rgba(255, 255, 255, 0.133) solid;
		padding: 15px;
		border-radius: 15px;
		min-width: 230px;
		flex: 1;
		text-decoration: none;
		text-align: center;
	}

	.linkButton:hover {
		box-shadow: 0px 0px 20px 6px var(--color-accent);
		transition: all cubic-bezier(0, 0.93, 0.17, 1) 0.2s;
		background: var(--color-accent);
		outline: 0px;
	}

	.linkButtonMed {
		background-color: rgba(0, 0, 0, 0.437);
		border: 1px rgba(255, 255, 255, 0.133) solid;
		padding: 10px 15px;
		border-radius: 15px;
		flex: 1;
		text-decoration: none;
		text-align: center;
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		min-width: 280px;
	}

	.linkButtonMed > .linkButtonDescription {
		white-space: nowrap;
	}

	.linkButtonMed > .linkButtonTitle {
		white-space: nowrap;
	}

	.linkButtonTitle {
		color: white;
		font-weight: 600;
	}

	.linkButtonDescription {
		color: rgba(255, 255, 255, 0.552);
		font-size: 13px;
	}

	.topNavBtn {
		color: rgb(255, 255, 255) !important;
		background-color: rgba(195, 195, 195, 0);
		text-decoration: none;
		border-radius: 7px;
		border: 0px;
		padding: 2px;
		padding-right: 10px;
		padding-left: 10px;
		margin-left: 5px;
		transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.topNavBtn:hover {
		background-color: rgba(255, 255, 255, 0.17);
		transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
</style>
