<script lang="ts">
	import { fade } from 'svelte/transition';
	export let show: boolean = true;
</script>

{#if show}
	<div id="loadingIndicator" in:fade={{ duration: 100 }} out:fade={{ duration: 100 }}>
		<p>Loading...</p>
	</div>
{/if}

<style>
	#loadingIndicator {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.167);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		padding: 10px 20px 10px 20px;
		color: white;
		border-radius: 30px;
	}
</style>
