<script lang="ts">
	import logo from '../assets/logo.svg';
	let screenWidth = 0;
	export let menuExpanded = false;
	import { fade, slide } from 'svelte/transition';
	import LinkButtons from './LinkButtons.svelte';
	import UserSmallBlock from './UserSmallBlock.svelte';

	function setMenu(state: boolean) {
		menuExpanded = state;
		if (menuExpanded) document.body.style.overflowY = 'hidden';
		else document.body.style.overflowY = 'auto';
	}
</script>

<svelte:window bind:innerWidth={screenWidth} />

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous"
/>

<nav id="topNav">
	<div id="topNavLeftContainer">
		<a href="/" id="logo">
			<img src={logo} alt="PortugalVacc logo" class="logoSmall logoWhite" />
		</a>
		{#if screenWidth > 1020}
			<!-- EDIT THIS IF MORE BUTTONS ARE ADDED -->
			<LinkButtons size="small" />
		{:else}
			<button
				on:click={(e) => {
					if (menuExpanded) setMenu(false);
					else {
						setMenu(true);
						document.getElementById('menuContainer')?.focus();
					}
				}}
				id="menuButton"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="25"
					height="25"
					fill="white"
					class="bi bi-list"
					viewBox="0 0 16 16"
				>
					<path
						fill-rule="evenodd"
						d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
					/>
				</svg>
			</button>
		{/if}
	</div>

	<div id="topNavRightContainer">
		<UserSmallBlock />
	</div>
</nav>

{#if menuExpanded}
	<div
		id="menuContainer"
		tabindex="-1"
		role="menu"
		on:keydown={() => {}}
		on:blur={() => setMenu(false)}
		on:click={() => setMenu(false)}
		in:slide={{ duration: 300, axis: 'x' }}
		out:slide={{ duration: 200, axis: 'x' }}
	>
		<div id="linkButtonsContainer1">
			<div id="linkButtonsContainer2">
				<LinkButtons flexWrap={true} direction={'column'} size="medium" />
			</div>
		</div>
	</div>
{/if}

<style>
	@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

	.logoSmall {
		width: 30px;
	}

	#logo {
		margin-top: -2px;
	}

	#topNavRightContainer {
		display: flex;
		height: 50px;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	#topNavLeftContainer {
		display: flex;
		height: 50px;
		align-items: center;
		justify-content: center;
		gap: 10px;
		text-decoration: none;
		margin-bottom: -1px;
	}

	#linkButtonsContainer1 {
		max-height: 80vh;
		padding: 15px 0;
		overflow-y: scroll;
		border-top: solid 1px rgba(255, 255, 255, 0.164);
		border-bottom: solid 1px rgba(255, 255, 255, 0.164);
		width: min-content;
	}

	#linkButtonsContainer2 {
		width: 300px;
		width: min-content;
	}

	#menuContainer {
		background-color: rgb(0 0 0 / 45%);
		backdrop-filter: blur(5px);
		width: 100%;
		position: fixed;
		z-index: 2;
		top: 50px;
		right: 0;
		display: flex;
		flex-direction: column;
		align-content: center;
		flex-wrap: nowrap;
		gap: 20px;
		padding: 80px;
		padding-top: 0px;
		height: 100vh;
		align-items: center;
		border: none;
		justify-content: center;
		scroll-snap-type: mandatory;
	}

	#menuContainer:hover {
		cursor: default;
	}

	#menuButton {
		background-color: transparent;
		/* border: white solid 1px;
    border-radius: 6px; */
		border: none;
		height: 32px;
		padding-bottom: 5px;
	}

	#topNav {
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		padding-left: 14px;
		padding-right: 14px;
		background-color: rgba(0, 0, 0, 0.687);
		backdrop-filter: blur(10px);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		/* outline: 2px solid rgba(255, 255, 255, 0.13); */
	}

	.logoWhite {
		color: white;
		filter: invert(48%) sepia(13%) saturate(0) hue-rotate(130deg) brightness(5000%) contrast(10000%);
	}
</style>
