<pagebody>
	<h1 class="httpCode">501</h1>
	<h1>Not Implemented</h1>
</pagebody>

<style>
	pagebody {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: calc(100vh - 260px);
		justify-content: center;
		text-align: center;
	}
	.httpCode {
		font-size: 170px;
		font-weight: 800;
	}
	h1 {
		font-size: 25px;
		font-weight: 100;
	}
</style>
