<script lang="ts">
	import { onMount } from 'svelte';
	import { onlineControllers } from '../stores';

	interface onlineController {
		name: string;
		callsign: string;
		frequency: string;
		logon_time: number;
	}

	function timestampToUnix(dateString: string): number {
		const unix = new Date(dateString).getTime() / 1000;
		return unix;
	}

	function extractDateAndZuluTime(dateString: string): {
		date: string;
		zuluTime: string;
	} {
		const dateTimeParts = dateString.split('T');
		const date = dateTimeParts[0];
		const zuluTime = dateTimeParts[1].replace(':00.000000Z', '').replace(':', '') + 'z';
		return { date, zuluTime };
	}

	function secondsToTimestamp(seconds: number) {
		return new Date(seconds * 1000).toISOString().slice(11, 16).replace(':', 'h');
	}
</script>

{#key $onlineControllers}
	{#if $onlineControllers.length > 0}
		<div id="onlineControllersBlock" class="block innerBlock">
			<h1 class="title"><b>Online</b> controllers</h1>
			<p class="description">
				Our dedicated team of controllers is ready to enhance your flying experience. Discover who's
				online and take to the skies with our friendly and knowledgeable controllers.
			</p>
			<div id="onlineControllersContainer" class="blockListContainer">
				{#each $onlineControllers as onlineController}
					<div class="onlineControllerContainer">
						<p class="onlineControllerName">
							{onlineController.name}
						</p>
						<div class="onlineControllerDuration onlineControllerField">
							<div class="onlineControllerFieldName">online for&nbsp;</div>
							{secondsToTimestamp(Date.now() / 1000 - onlineController.logon_time)}
						</div>
						<div class="onlineControllerCallsign onlineControllerField">
							<div class="onlineControllerFieldName">callsign&nbsp;</div>
							{onlineController.callsign}
						</div>
						<div class="onlineControllerFrequency onlineControllerField">
							<div class="onlineControllerFieldName">frequency&nbsp;</div>
							{onlineController.frequency}
						</div>
					</div>
				{/each}
			</div>
		</div>
	{/if}
{/key}

<style>
	.description {
		margin-bottom: 40px !important;
	}

	.onlineControllerFieldName {
		width: 80px;
		color: rgba(255, 255, 255, 0.16);
		display: flex;
	}

	.onlineControllerContainer {
		color: white;
		background-color: rgba(255, 255, 255, 0.101);
		padding: 20px;
		border-radius: 10px;
		flex: 1;
	}

	.onlineControllerName {
		font-size: 20px;
		margin-bottom: 8px !important;
		font-weight: 700;
		text-align: start;
	}

	.onlineControllerField {
		display: flex;
	}

	#onlineControllersContainer {
		justify-content: center;
		margin-top: 30px;
	}

	/* bubble {
    text-decoration: none;
    color: rgb(217, 217, 217);
    background-color: rgba(255, 255, 255, 0.148);
    font-size: 14px;
    padding: 7px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 7px;
    margin-right: 5px;
    white-space: nowrap;
    line-break: strict;
    margin-bottom: 5px;
    width: fit-content;
  }

  .onlineControllersTableEntry {
    color: rgba(255, 255, 255, 0.94);
  } */

	/* #onlineControllersContainerPlaceholder {
    align-self: center;
    color: rgba(255, 255, 255, 0.367);
    margin-bottom: 30px !important;
  } */

	/* .eventsSeparator {
    color: white !important;
    width: 30%;
    align-items: center;
    margin-left: 20px;
  } */
</style>
