<script lang="ts">
	export let input: string = '';
	export let placeholder: string = 'Search...';
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
</script>

<div id="inputContainer">
	<input
		{placeholder}
		contenteditable="true"
		bind:value={input}
		on:keypress={(e) => (e.key === 'Enter' ? dispatch('enter') : undefined)}
	/>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="16"
		height="16"
		fill="white"
		class="bi bi-search"
		viewBox="0 0 16 16"
	>
		<path
			d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
		/>
	</svg>
</div>

<style>
	input {
		border: none;
		background-color: transparent;
		color: rgba(255, 255, 255, 0.614);
		font-size: 14px;
		flex: 1;
	}

	#inputContainer {
		width: 100%;
		height: 35px;
		background-color: rgba(0, 0, 0, 0.654);
		border: rgba(255, 255, 255, 0.261) 1px solid;
		border-radius: 30px;
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	input:focus {
		outline: 0px;
	}
</style>
