<script lang="ts">
	import { signIn, signOut } from '@auth/sveltekit/client';
	import { onMount } from 'svelte';
	import { getUserData } from '../stores';
	import { goto } from '$app/navigation';

	let userdata: any;
	let userdata_loaded = false;

	let hoveringblock: boolean = false;

	onMount(async () => {
		userdata = await getUserData();
		userdata_loaded = true;
	});
</script>

<button
	id="userBlockContainer1"
	on:click={() => {
		signIn('vatsim');
	}}
	on:mouseenter={(event) => {
		hoveringblock = true;
		if (userdata) {
			event.currentTarget.style.borderLeft = 'rgba(255, 255, 255, 0.39) 1px solid';
			event.currentTarget.style.width = '149px';
		}
	}}
	on:mouseleave={(event) => {
		hoveringblock = false;
		if (userdata) {
			event.currentTarget.style.borderLeft = '';
			event.currentTarget.style.width = '';
		}
	}}
>
	{#if userdata_loaded}
		{#if userdata}
			<div id="signedInContainer" class="dropdown">
				<span id="welcomeText">Welcome,</span>
				<span id="fullNameText">{userdata.personal.name_first}</span>
			</div>
			<i class="bi bi-person-circle" id="signedInIcon"></i>
			{#if hoveringblock}
				<div class="dropdown-content-container">
					<!-- {#if userdata.is_controller}
						<a class="topNavBtn" href="/atc">Resources</a>
					{/if} -->
					<!-- <a class="topNavBtn" href="/ats">ATS</a> -->
					<!-- <a class="topNavBtn" href="/charts">Charts</a> -->
					<button
						class="topNavBtn"
						on:click={() => {
							signOut();
						}}
						>Sign Out <i class="bi bi-box-arrow-left" id="signOutIcon" />
					</button>
				</div>
			{/if}
		{:else}
			<div id="signInContainer">
				<i id="signInIcon" class="bi bi-box-arrow-in-right"></i>
				<span id="signInText"> Sign In </span>
			</div>
		{/if}
	{/if}
</button>

<style>
	.dropdown-content-container {
		position: absolute;
		align-self: flex-start;
		/* background-color: rgb(0 0 0 / 45%); */
		background-color: rgba(0, 0, 0, 0.687);
		backdrop-filter: blur(5px);
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		padding-top: 5px;
		padding-bottom: 14px;
		padding-left: 8px;
		padding-right: 13px;
		border-radius: 0px 0 0px 10px;
		margin-left: -10px;
		width: 150px;
		margin-right: 10px;
		margin-top: 49px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		border: rgba(255, 255, 255, 0.39) 1px solid;
		border-top: none;
		border-right: none;
	}

	#userBlockContainer1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 148px;
		height: 100%;
		text-align: left;
		/* border-left: rgba(255, 255, 255, 0.315) 1px solid; */
		/* background-color: rgba(255, 255, 255, 0.096); */
		background-color: rgba(255, 255, 255, 0);
		margin-right: -13px;
		padding-right: 16px;
		padding-left: 9px;
		border: none;
		justify-content: space-between;
	}

	.topNavBtn {
		color: rgb(255, 255, 255) !important;
		background-color: rgba(195, 195, 195, 0);
		text-decoration: none;
		border-radius: 7px;
		border: 0px;
		padding: 2px;
		padding-right: 10px;
		padding-left: 10px;
		margin-left: 5px;
		transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		text-align: start;
	}

	.topNavBtn:hover {
		background-color: rgba(255, 255, 255, 0.17);
		transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	#signInContainer {
		padding-top: 6px;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: right;
		padding-bottom: 5px;
		padding-right: 6px;
		gap: 10px;
	}

	#signInText {
		color: white;
		margin-top: -4px;
		font-weight: 600;
		align-self: center;
	}

	#signInIcon {
		color: white;
		margin-bottom: 4px;
		scale: 1.1;
	}

	#signedInContainer {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 1px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	#signOutIcon {
		margin-left: 4px;
	}

	#signedInIcon {
		color: white;
		height: 26px;
		scale: 1.4;
		align-self: center;
	}

	#welcomeText {
		font-size: 12px;
		color: rgba(255, 255, 255, 0.699);
		display: block;
	}

	#fullNameText {
		color: white;
		margin-top: -4px;
		font-weight: 600;
		white-space: nowrap;
		max-width: 67px;
	}
</style>
