<script lang="ts">
	interface staffMember {
		name: string;
		cid: number;
		callsign: string;
		role: string;
		diretor: boolean;
		contact: string;
	}

	let staff: staffMember[] = [
		{
			name: 'Bernardo Reis',
			cid: 1096507,
			callsign: 'ACCPT1',
			role: 'vACC Director',
			diretor: true,
			contact: 'mailto:director@portugal-vacc.org'
		},
		{
			name: 'André Pacheco',
			cid: 903793,
			callsign: 'ACCPT2',
			role: 'Training Director',
			diretor: true,
			contact: 'mailto:training@portugal-vacc.org'
		},
		{
			name: 'Caladon Evans',
			cid: 1374976,
			callsign: 'ACCPT2A',
			role: 'Training Deputy Director',
			diretor: false,
			contact: ''
		},
		{
			name: '1110850',
			cid: 1110850,
			callsign: 'ACCPT3',
			role: 'Lisboa FIR Operations Director',
			diretor: true,
			contact: 'mailto:ops@portugal-vacc.org'
		},
		{
			name: 'Alvaro Taveira',
			cid: 1647696,
			callsign: 'ACCPT4',
			role: 'Events Director',
			diretor: true,
			contact: 'mailto:events@portugal-vacc.org'
		},
		{
			name: 'Miguel Elyseu',
			cid: 1515883,
			callsign: 'ACCPT4A',
			role: 'Events Staff',
			diretor: false,
			contact: ''
		},
		{
			name: 'André Almeida',
			cid: 1333905,
			callsign: 'ACCPT4B',
			role: 'Events Staff',
			diretor: false,
			contact: ''
		},
		{
			name: 'Rodrigo Simões',
			cid: 1438868,
			callsign: 'ACCPT5',
			role: 'Tech Director',
			diretor: true,
			contact: 'mailto:tech@portugal-vacc.org'
		},
		{
			name: 'Vicente Rendo',
			cid: 1629933,
			callsign: 'ACCPT5A',
			role: 'Tech Staff',
			diretor: false,
			contact: ''
		}
	];
</script>

<pagebody>
	<h1 class="title">Our <b>Staff</b></h1>
	<p class="description">
		Meet the passionate individuals at the core of Portugal vACC, tirelessly dedicated to delivering an unparalleled airspace experience. 
		A hearty round of applause for our exceptional team! 👏
	</p>

	<div id="staffMembersContainer">
		{#each staff as staffMember}
			<button
				class="staffMemberContainer"
				on:click={() => {
					open(staffMember.contact);
				}}
			>
				<div class="staffMemberTitleContainer">
					<p class="staffMemberTitle">{staffMember.name}</p>
					<p class="staffMemberCID">{staffMember.cid}</p>
				</div>
				<p class="staffMemberContact">{staffMember.contact.replace('mailto:', '')}</p>
				<div class="staffMemberBubbles">
					<bubble>{staffMember.callsign}</bubble> <bubble>{staffMember.role}</bubble>
				</div>
			</button>
		{/each}
	</div>
</pagebody>

<style>
	#staffMembersContainer {
		display: flex;
		padding-top: 70px;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 10px;
		text-decoration: none;
		justify-content: center;
	}

	.staffMemberBubbles {
		display: flex;
		gap: 8px;
	}

	.staffMemberContact {
		font-size: 13px;
		white-space: nowrap;
		word-break: keep-all;
		color: rgba(255, 255, 255, 0.6);
		margin-bottom: 7px !important;
		margin-left: 2px !important;
	}

	.staffMemberBubbles bubble {
		font-size: 12px;
	}

	.staffMemberTitleContainer {
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
	}

	.staffMemberCID {
		color: rgba(255, 255, 255, 0.307);
		font-family: monospace;
		font-weight: 400;
		font-size: 14px;
		margin-top: -6px;
	}

	.staffMemberContainer {
		padding: 14px 20px 13px;
		text-align: start;
		display: flex;
		flex-direction: column;
		background-color: black;
		border-radius: 15px;
		margin-bottom: 0;
		border: rgba(255, 255, 255, 0.25) 1px solid;
		outline: rgba(255, 255, 255, 0.25) 0px solid;
		justify-content: space-between;
		transition: all 0.1s;
		cursor: pointer;
		width: 310px;
	}

	.staffMemberContainer:hover {
		outline-width: 4px;
		transition: all 0.1s;
	}

	pagebody {
		padding-top: 20px;
		max-width: 984px;
	}
</style>
