<script lang="ts">
	import AirportInfo from '../../../components/AirportInfo.svelte';
	import { fade } from 'svelte/transition';
	export let data: { icao: string };

	type json = { [key: string]: string | number | Array<any> | json };

	interface Aerodrome {
		[key: string]: string | number | Array<any> | json;
		icao: string;
		name: string;
		geo_adm_data: {
			arp_coordinates_and_site: string;
			direction_and_distance_of_arp_from_city_or_town: string;
			elevationreference_temperature: string;
			geoid_undulation_at_aerodrome_elevation_position: string;
			mag_varannual_change: string;
			ad_administration_address_telephone_telefax_telex_afs_e_mail_and_web_url: string;
			types_of_traffic_permitted_ifrvfr: string;
			remarks: string;
		};
		operational_hours: {
			ad_administration: string;
			customs_and_immigration: string;
			health_and_sanitation: string;
			ais_briefing_office: string;
			ats_reporting_office_aro: string;
			met_briefing_office: string;
			ats: string;
			fuelling: string;
			handling: string;
			security: string;
			de_icing: string;
			remarks: string;
		};
		handling_services: {
			cargo_handling_facilities: string;
			fueloil_types: string;
			fuelling_facilitiescapacity: string;
			de_icing_facilities: string;
			hangar_space_available_for_visiting_aircraft: string;
			repair_facilities_for_visiting_aircraft: string;
			remarks: string;
		};
		passenger_facilities: {
			hotels: string;
			restaurants: string;
			transportation: string;
			medical_facilities: string;
			bank_and_post_office: string;
			tourist_office: string;
			remarks: string;
		};
		rescue_fire_fight_services: {
			ad_category_for_fire_fighting: string;
			rescue_equipment: string;
			capability_for_removal_of_disabled_aircraft: string;
			remarks: string;
		};
		meteo_info: {
			associated_met_office: string;
			hours_of_service: string;
			office_responsible_for_taf_preparation_periods_of_validity: string;
			type_of_landing_forecast: string;
			briefingconsultation_provided: string;
			flight_documentation_languages_used: string;
			charts_and_other_information_available_for_briefing_or_consultation: string;
			supplementary_equipment_available_for_providing_information: string;
			ats_units_provided_with_information: string;
			additional_information_limitation_of_service_etc_: string;
		};
		runways: AerodromeRunway[];
		distances: AerodromeDistance[];
		airspace: {
			designation_and_lateral_limits: string;
			vertical_limits: string;
			airspace_classification: string;
			ats_unit_call_sign__languages: string;
			transition_altitude: string;
			remarks: string;
		};
		frequencies: AerodromeFrequency[];
		navaids: AerodromeNavaid[];
	}

	interface AerodromeRunway {
		designation: string;
		true_brg: string;
		dimensions_of_rwy_m: string;
		strength_pcn_and_surface_of_rwy_and_swy: string;
		thr_coord_rwy_end_geoidundulation: string;
		thr_elevation_and_highest_elevation_of_tdz_of_precision_apch_rwy: string;
		slope_of_rwyswy: string;
		swy_dimensions_m: string;
		y_dimensions_m: string;
		strip_dimensions_m: string;
		resa: string;
		ofz: string;
		remark: string;
	}

	interface AerodromeDistance {
		rwy_designator: string;
		tora_m: string;
		toda_m: string;
		asda_m: string;
		lda_m: string;
		remarks: string;
	}

	interface AerodromeFrequency {
		service_designation: string;
		call_sign: string;
		frequency: string;
		hours_of_operation: string;
		remarks: string;
	}

	interface AerodromeNavaid {
		type_category_mag_variation: string;
		id: string;
		frequency: string;
		hours_of_operation: string;
		site_of_transmitting_antenna_coordinates: string;
		elevation_of_dme_transmitting_antenna: string;
		remarks: string;
	}

	let aptInfo: Aerodrome | undefined;
</script>

{#if !aptInfo}
	<div id="loadingIndicator" in:fade={{ duration: 100 }} out:fade={{ duration: 100 }}>
		<p>Loading...</p>
	</div>
{/if}

<pagebody>
	<h1 class="title"><b>{data.icao}</b></h1>
	<p class="description">{aptInfo ? aptInfo.name : '---'}</p>
	<AirportInfo icao={data.icao} bind:aptInfo />
	{#if aptInfo}
		<p id="apiDisclaimer">This data is taken directly from Portugal vACC's NavData API</p>
	{/if}
</pagebody>

<style>
	.description {
		margin-bottom: 30px !important;
	}

	#apiDisclaimer {
		color: rgba(255, 255, 255, 0.26);
		margin-top: 40px;
		font-size: 12px;
		width: 100%;
		padding: 20px;
		text-align: center;
	}

	#loadingIndicator {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.167);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		padding: 10px 20px 10px 20px;
		color: white;
		border-radius: 30px;
	}

	pagebody {
		padding-top: 20px;
	}
</style>
