<script lang="ts">
	import { onMount } from 'svelte';
	import DocsList from '../../components/DocsList.svelte';
	import SearchBox from '../../components/SearchBox.svelte';
	import { airportIcaos } from '../../stores';

	var docs: Document[] = [];
	var displayedDocs: Document[] = [];
	var query: string = '';

	interface Document {
		name: string;
		link: string;
		types: number[];
	}

	let isLoading = true;

	async function fetchSOPs(): Promise<Document[]> {
		let out: Document[] = [];
		let sops: { name: string; url: string }[] = (
			await (await fetch('https://navdata.vatsim.pt/api/sops/available')).json()
		).sops;
		out = sops.map((sop) => {
			if (sop.name.startsWith('sop_')) {
				return {
					name: `Standard Operating Procedures (SOP) - ${sop.name
						.toUpperCase()
						.match(/[A-Z]{4}/gm)}`.toUpperCase(),
					link: sop.url,
					types: [3]
				};
			} else {
				return {
					name: `Letter of Agreement (LOA) - ${sop.name
						.split('_')
						.map((part) => [part[0].toUpperCase(), ...part.slice(1)].join(''))
						.join(' ')}`.toUpperCase(),
					link: sop.url,
					types: [4]
				};
			}
		});
		return out;
	}

	async function main() {
		isLoading = true;
		docs = [
			{
				name: 'Controller Introduction Guide (GUIDE)'.toUpperCase(),
				link: 'https://ats.portugal-vacc.org/files/PTVACC-ATC-Controller%20Introduction%20Guide.pdf',
				types: []
			},
			{
				name: 'EuroScope Installation Guide (GUIDE)'.toUpperCase(),
				link: 'https://pinatacolada.github.io/topskylppc/',
				types: []
			},
			{
				name: 'ATC Training System (SYSTEM)'.toUpperCase(),
				link: 'https://ats.portugal-vacc.org',
				types: []
			},
			{
				name: `AIP Airport Charts (DATABASE)`.toUpperCase(),
				link: `/charts`,
				types: []
			},
			{
				name: `Controller Change/Bandboxing Procedures (GUIDE)`.toUpperCase(),
				link: `https://cdn.discordapp.com/attachments/745023820326502404/1099663202545049671/Checklist.docx.pdf`,
				types: []
			},
			{
				name: 'vACC Training Manual (GUIDE)'.toUpperCase(),
				link: 'https://docs.google.com/document/d/1Shi8Lr1BakzNAbiutPskGnJmIt_q9mAz/edit',
				types: []
			}
		];
		try {
			docs.push(...(await fetchSOPs()));
		} catch {}
		docs = [...docs];
		isLoading = false;
	}

	onMount(main);
</script>

<pagebody>
	<h1 class="title">ATC <b>Resources</b></h1>
	<p class="description">Files and resources for controllers to use.</p>

	<div id="pageContainer1">
		<div id="searchBoxContainer">
			<SearchBox bind:input={query} />
		</div>
		<div id="documentsContainer1">
			<div id="documentsContainer2">
				<DocsList
					bind:docs
					{query}
					{isLoading}
					bind:displayedDocs
					types={[
						{
							name: 'DATABASE',
							regex: /\(DATABASE\)/gm,
							id: 1,
							tag: true,
							extraTags: [] //[/\bLP[A-Z]{2}\b|ENROUTE/gm]
						},
						{
							name: 'SYSTEM',
							regex: /\(SYSTEM\)/gm,
							id: 4,
							tag: true,
							extraTags: []
						},
						{
							name: 'GUIDE',
							regex: /\(GUIDE\)/gm,
							id: 2,
							tag: true,
							extraTags: []
						},
						{ name: 'SOP', regex: /\(SOP\)/gm, id: 3, tag: true, extraTags: [/\bLP[A-Z]{2}\b/gm] },
						{ name: 'LOA', regex: /\(LOA\)/gm, id: 4, tag: true, extraTags: [] }
					]}
					classId="atcDocsType"
				/>
			</div>
		</div>
	</div>
</pagebody>

<style>
	#pageContainer1 {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#searchBoxContainer {
		margin-bottom: 10px;
		max-width: 800px;
		width: 100%;
	}

	#documentsContainer2 {
		height: calc(100vh - 400px);
		overflow-y: scroll;
		padding: 10px 0px 10px 0px;
		width: 100%;
		max-width: 800px;
	}

	#documentsContainer1 {
		padding: 0px 10px 0 10px;
		border: 2px rgba(76, 76, 76, 0.324) solid;
		border-radius: 15px;
		box-shadow: inset 0 0 20px rgba(65, 65, 65, 0.272);
		width: 100%;
		max-width: 800px;
	}

	.description {
		margin-bottom: 50px !important;
	}

	:global(.atcDocsType4) {
		--chart-type-4-color: rgb(1, 83, 133);
		border: var(--chart-type-4-color) 3px solid;
		outline: var(--chart-type-4-color) 0px solid;
	}

	:global(.atcDocsType4 > div > .documentBubblesContainer > .documentExtraBubble) {
		background-color: var(--chart-type-4-color);
	}

	:global(.atcDocsType4 > div > .documentBubblesContainer > .documentTypeBubble) {
		outline: var(--chart-type-4-color) 1px solid;
	}

	:global(.atcDocsType3) {
		--chart-type-3-color: rgba(228, 0, 0, 0.405);
		border: var(--chart-type-3-color) 3px solid;
		outline: var(--chart-type-3-color) 0px solid;
	}

	:global(.atcDocsType3 > div > .documentBubblesContainer > .documentExtraBubble) {
		background-color: var(--chart-type-3-color);
	}

	:global(.atcDocsType3 > div > .documentBubblesContainer > .documentTypeBubble) {
		outline: var(--chart-type-3-color) 1px solid;
	}

	:global(.atcDocsType2) {
		--chart-type-2-color: rgba(217, 0, 255, 0.405);
		border: var(--chart-type-2-color) 3px solid;
		outline: var(--chart-type-2-color) 0px solid;
	}

	:global(.atcDocsType2 > div > .documentBubblesContainer > .documentExtraBubble) {
		background-color: var(--chart-type-2-color);
	}

	:global(.atcDocsType2 > div > .documentBubblesContainer > .documentTypeBubble) {
		outline: var(--chart-type-2-color) 1px solid;
	}

	:global(.atcDocsType1) {
		--chart-type-1-color: rgba(0, 175, 187, 0.405);
		border: var(--chart-type-1-color) 3px solid;
		outline: var(--chart-type-1-color) 0px solid;
	}

	:global(.atcDocsType1 > div > .documentBubblesContainer > .documentExtraBubble) {
		background-color: var(--chart-type-1-color);
	}

	:global(.atcDocsType1 > div > .documentBubblesContainer > .documentTypeBubble) {
		outline: var(--chart-type-1-color) 1px solid;
	}

	::-webkit-scrollbar {
		width: 0px;
		background-color: black;
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.289);
		border-radius: 5px;
	}

	/* :global(.docsListTypeDefault) {
		--docslist-type-default-color: rgb(255 255 255 / 13%);
		border: var(--docslist-type-default-color) 3px solid;
		outline: var(--docslist-type-default-color) 0px solid;
	}

	:global(.docsListTypeDefault > div > .documentBubblesContainer > .documentExtraBubble) {
		background-color: var(--docslist-type-default-color);
	}

	:global(.docsListTypeDefault > div > .documentBubblesContainer > .documentTypeBubble) {
		outline: var(--docslist-type-default-color) 1px solid;
	} */

	pagebody {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;
	}
</style>
