<script lang="ts">
	import { onMount } from 'svelte';
	import Loading from '../../../components/Loading.svelte';
	import { fade } from 'svelte/transition';

	interface Metar {
		cavok: boolean;
		pressure: number;
		trend_forecast: string;
		remarks: string;
		raw: string;

		identification: {
			corrected: boolean;
			location: string;
			automatic: boolean;
			issued: string;
			outdated: boolean;
		};
		surface_wind: {
			wind_direction: number;
			variable: boolean;
			wind_speed: number;
			gust: boolean;
			maximum_wind_speed: number;
			unit: string;
			wind_variable_from: number;
			variability: boolean;
			wind_variable_to: number;
		};
		visibility: {
			prevailing_visibility: number;
			lowest_visibility: number;
			lowest_visibility_direction: number;
		};
		runway_visual_range: {
			runway: string;
			modifier: string;
			value: number;
			tendency: string;
		}[];
		present_weather: {
			intensity: string;
			descriptor: string;
			precipitation: string;
			obscuration: string;
			other: string;
		}[];
		clouds: {
			cloud_amount: 'FEW' | 'SCT' | 'BKN' | 'OVC';
			height_of_base: string;
			cloud_type: string;
		}[];
		temperatures: {
			air_temperature: number;
			dew_point_temperature: number;
		};
		wind_shear: {
			runway: number;
			all_runways: boolean;
		}[];
	}

	// function runwayCover(thickness: string) {
	// 	/**
	// 	 * Depth of deposit
	// 	 *
	// 	 * Note: the quoted depth is the mean of a number of reading or if operationally significant the greatest depth measured.
	// 	 *
	// 	 * | Value | Description |
	// 	 * | ----- | ----------- |
	// 	 * | `"00"` | Less than 1mm |
	// 	 * | `"01"` to `"90"` | Measurement in mm |
	// 	 * | `"92"` | 10cm |
	// 	 * | `"93"` | 15cm |
	// 	 * | `"94"` | 20cm |
	// 	 * | `"95"` | 25cm |
	// 	 * | `"96"` | 30cm |
	// 	 * | `"97"` | 35cm |
	// 	 * | `"98"` | 40cm or more |
	// 	 * | `"99"` | Runway not operational due to snow, slush, ice, large drifts or runway clearance, depth not reported |
	// 	 * | `"//"` | Not operationally significant or not measurable |
	// 	 */
	// 	switch (thickness) {
	// 		case '00':
	// 			return '<1mm';
	// 		case '01':
	// 			return '1';
	// 		case '92':
	// 			return '10cm';
	// 		case '93':
	// 			return '15cm';
	// 		case '94':
	// 			return '20cm';
	// 		case '95':
	// 			return '25cm';
	// 		case '96':
	// 			return '30cm';
	// 		case '97':
	// 			return '35cm';
	// 		case '98':
	// 			return '40cm';
	// 		case '99':
	// 			return 'INOP';
	// 		case '//':
	// 			return 'N/A';
	// 		default:
	// 			return `${thickness}mm`;
	// 	}
	// }

	// function formatHeading(_heading: number) {
	// 	let heading = _heading.toString();
	// 	if (heading.length < 3) {
	// 		return '0' + heading;
	// 	}
	// 	return heading;
	// }

	// function forceKnots(value: number, units: string) {
	// 	units = units.toUpperCase();
	// 	if (units === 'MPS') {
	// 		return value * 1.94384;
	// 	} else if (units === 'KM/H') {
	// 		return value * 0.53996;
	// 	}
	// 	return value;
	// }

	function formatTime(_time: string) {
		const [rawDate, rawTime] = _time.split('T');
		return {
			date: rawDate,
			time: rawTime.split(':').slice(0, 2).join('') + 'z'
		};
	}

	async function getMetar(icao: string): Promise<Metar | null> {
		const url = 'https://meteo.vatsim.pt/api/v1/ipma/metar/all';
		const response = await fetch(url);
		const metars = (await response.json()) as Metar[];
		const found = metars.find((metar) => metar.identification.location === icao);
		return found ? found : null;
	}

	export let data: {
		icao: string;
	};

	let metar: Metar | null | undefined = undefined;
	onMount(async () => {
		metar = await getMetar(data.icao);
	});
</script>

<pagebody>
	<h1 class="title"><b>{data.icao}</b> <span class="titleHelper">weather</span></h1>
	<p class="description">
		Live weather information for {data.icao}. <b>For simulation use only.</b>
	</p>
	{#if data && metar !== undefined}
		<div id="metarFieldsContainer" in:fade={{ duration: 100 }}>
			{#if metar === null}
				<div class="metarFieldContainer">
					<i class="bi bi-exclamation-circle metarFieldIcon red" />
					<span class="metarFieldValue">No Weather Information Found for {data.icao}</span>
				</div>
			{:else}
				<div class="metarFieldContainer" id="rawMetarFieldValue">
					<svg fill="currentColor" class="metarFieldIcon metarFieldIcon-main" viewBox="0 0 16 16">
						<path
							d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"
						/>
					</svg>
					<span class="metarFieldValue">{metar.raw}</span>
				</div>
				<div class="metarFieldContainer">
					<svg
						fill="currentColor"
						class="metarFieldIcon metarFieldIcon-main"
						viewBox="0 0 16 16"
						style="margin-bottom: 1px"
					>
						<path
							d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
						/>
					</svg>
					<span class="metarFieldValue">
						{formatTime(metar.identification.issued).date} @ {formatTime(
							metar.identification.issued
						).time}
					</span>
				</div>
				<div class="metarFieldContainer">
					<svg fill="currentColor" class="metarFieldIcon" viewBox="0 0 16 16">
						<path
							d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"
						/>
					</svg>
					<div class="metarFieldValue">
						<bubble class="metarFieldValue-bubble">
							<svg
								fill="currentColor"
								class="metarFieldIcon metarFieldIcon-small"
								viewBox="0 0 16 16"
							>
								<path
									d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"
								/>
							</svg>
							<span class="metarFieldValue">
								{metar.surface_wind.variable ? `VRB` : metar.surface_wind.wind_direction + '°'}
								{#if metar.surface_wind.wind_variable_from && metar.surface_wind.wind_variable_to}
									({metar.surface_wind.wind_variable_from}-{metar.surface_wind.wind_variable_to})
								{/if}
							</span>
						</bubble>
						<bubble class="metarFieldValue-bubble">
							<svg
								fill="currentColor"
								class="bi bi-flag metarFieldIcon metarFieldIcon-small"
								viewBox="0 0 16 16"
							>
								<path
									d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"
								/>
							</svg>
							<span class="metarFieldValue">
								{metar.surface_wind.wind_speed}{metar.surface_wind.unit.toLowerCase()}
							</span>
						</bubble>
						{#if metar.surface_wind.gust}
							<bubble class="metarFieldValue-bubble">
								<i
									class="bi bi-arrow-left-right metarFieldIcon {metar.surface_wind
										.maximum_wind_speed > 20
										? 'red'
										: ''} metarFieldIcon-small"
								/>
								<span class="metarFieldValue">
									{metar.surface_wind.maximum_wind_speed + metar.surface_wind.unit.toLowerCase()}
								</span>
							</bubble>
						{/if}
					</div>
				</div>
				<div class="metarFieldContainer">
					<i class="bi bi-eye metarFieldIcon" />
					{#if metar.cavok}
						<div class="metarFieldValue">
							<bubble>
								<span class="green">CAVOK</span>
							</bubble>
						</div>
					{:else}
						<div class="metarFieldValue">
							<bubble class="metarFieldValue-bubble">
								<svg
									fill="currentColor"
									class="bi bi-eye metarFieldIcon metarFieldIcon-small"
									viewBox="0 0 16 16"
								>
									<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
									<path
										d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
									/>
								</svg>
								<span class="metarFieldValue">
									<span> <b>{metar.visibility.prevailing_visibility}</b>m</span>
								</span>
							</bubble>
							{#each metar.clouds as cloud}
								<bubble class="metarFieldValue-bubble">
									<!-- <img
									src="/src/assets/Runway.svg"
									alt=""
									class="metarFieldIcon metarFieldIcon-small"
								/> -->
									<svg
										fill="currentColor"
										class="metarFieldIcon metarFieldIcon-small"
										viewBox="0 0 16 16"
									>
										<path
											d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
										/>
									</svg>
									<span class="metarFieldValue"> {cloud.cloud_amount} {cloud.height_of_base} </span>
								</bubble>
							{/each}
						</div>
					{/if}
				</div>
				<div class="metarFieldContainer">
					<svg fill="currentColor" class="metarFieldIcon metarFieldIcon-main" viewBox="0 0 16 16">
						<path
							d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"
						/>
						<path
							d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"
						/>
					</svg>
					<div class="metarFieldValue">
						<bubble class="metarFieldValue-bubble">
							<svg
								fill="currentColor"
								class="metarFieldIcon metarFieldIcon-small"
								viewBox="0 0 16 16"
								style="margin-right: -4px; margin-left: -2px;"
							>
								<path
									d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"
								/>
								<path
									d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"
								/>
							</svg>
							<span class="metarFieldValue">
								{metar.temperatures.air_temperature}C
							</span>
						</bubble>
						<bubble class="metarFieldValue-bubble">
							<svg
								fill="currentColor"
								class="metarFieldIcon metarFieldIcon-small"
								viewBox="0 0 16 16"
								style="margin-right: -4px; margin-left: -2px;"
							>
								<path
									fill-rule="evenodd"
									d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"
								/>
								<path
									fill-rule="evenodd"
									d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"
								/>
							</svg>
							<span class="metarFieldValue">
								{metar.temperatures.dew_point_temperature}C
							</span>
						</bubble>
					</div>
				</div>
				{#if metar.runway_visual_range.length > 0}
					<div class="metarFieldContainer">
						<img src="/src/assets/Runway.svg" alt="" class="metarFieldIcon" id="rwyIcon" />
						<div class="metarFieldValue">
							{#each metar.runway_visual_range as runway}
								<bubble class="metarFieldValue-bubble">
									<div class="metarFieldTitle">
										<i class="bi bi-eye metarFieldIcon" />
										<span class="green">RWY{runway.runway}</span>
									</div>
									<span class="metarFieldValue"> RVR {runway.value}m </span>
								</bubble>
							{/each}
						</div>
					</div>
				{/if}
				<div class="metarFieldContainer">
					<svg fill="currentColor" class="metarFieldIcon metarFieldIcon-main" viewBox="0 0 16 16">
						<path
							fill-rule="evenodd"
							d="M3.646 4.146a.5.5 0 0 1 .708 0L8 7.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zM1 11.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"
						/>
					</svg>
					<span class="metarFieldValue">
						<b>QNH</b>
						{metar.pressure}
					</span>
				</div>

				{#if metar.remarks}
					<div class="metarFieldContainer">
						<svg
							fill="currentColor"
							class="metarFieldIcon metarFieldIcon-main"
							viewBox="0 0 16 16"
							style="margin-bottom: 1px"
						>
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path
								d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
							/>
						</svg>
						<span class="metarFieldValue">
							{metar.remarks}
						</span>
					</div>
				{/if}
			{/if}
		</div>
	{:else}
		<Loading />
	{/if}
</pagebody>

<style>
	pagebody {
		/* padding: 0 calc(390px / 6) !important; */
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		max-width: 750px !important;
		/* align-self: flex-start;
		justify-content: start;
		text-align: start; */
	}

	/* @media (min-width: 700px) {
		pagebody {
			padding: 0 calc(700px / 5);
		}
	} */

	bubble {
		padding: 4px 10px;
		margin: 0px;
		flex: 1;
		text-align: center;
	}

	/* .white {
		color: white !important;
	} */

	.green {
		color: rgb(0, 255, 170);
	}

	.warning {
		color: rgb(255, 234, 0) !important;
	}

	.red {
		color: rgb(255, 0, 0) !important;
	}

	.metarFieldIcon-main {
		margin-bottom: -2px;
	}

	.metarFieldValue-bubble {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		padding: 4px 8px !important;
		margin: 0 !important;
		text-align: center;
	}

	.metarFieldTitle {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 !important;
		gap: 5px;
		text-align: center;
	}

	.metarFieldIcon-small {
		width: 15px !important;
		margin-bottom: -2px;
	}

	#rwyIcon {
		scale: 0.9;
	}

	#metarFieldsContainer {
		padding-top: 60px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: start;
		gap: 20px;
		font-family: monospace;
		align-self: center;
		flex-wrap: wrap;
	}

	#rawMetarFieldValue {
		width: 100%;
		/* Occupy full flex row */
		flex: 1 1 auto;
	}

	.metarFieldContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		color: white;
		background-color: #ffffff1c;
		padding: 10px;
		padding-left: 13px;
		border-radius: 12px;
		flex: 1 2 auto;
		min-height: 53px;
	}

	.metarFieldIcon {
		color: var(--color-accent-bright);
		width: 20px;
		height: 20px;
	}

	.metarFieldValue {
		font-family: monospace;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		text-align: end;
		gap: 10px;
		flex: 1;
		justify-content: flex-end;
	}

	span.metarFieldValue {
		padding-right: 5px;
	}

	.title {
		font-size: 40px;
		margin-bottom: 10px;
	}

	.titleHelper {
		font-size: 30px;
		color: rgba(255, 255, 255, 0.463);
	}
</style>
