<script lang="ts">
	import { vatsimEvents } from '../../../stores';

	interface vatsimEvent {
		name: string;
		start_time: string;
		end_time: string;
		short_description: string;
		description: string;
		id: number;
		banner: string;
	}

	export let data: { eventid: number };

	function extractDateAndZuluTime(dateString: string): {
		date: string;
		zuluTime: string;
	} {
		const dateTimeParts = dateString.split('T');
		const date = dateTimeParts[0];
		const zuluTime = dateTimeParts[1].replace(':00.000000Z', '').replace(':', '') + 'z';
		return { date, zuluTime };
	}
	$vatsimEvents;
	let event = $vatsimEvents.find((event) => {
		if (event.id === data.eventid) return true;
		return false;
	});
</script>

{#if event}
	<pagebody>
		<div id="titleContainer">
			<h1 class="title"><b>{event.name}</b></h1>
			<div id="titleBlobs">
				<div class="timeBlob">
					{extractDateAndZuluTime(event.start_time).zuluTime} - {extractDateAndZuluTime(
						event.end_time
					).zuluTime}
				</div>
				<div class="timeBlob">
					{extractDateAndZuluTime(event.start_time).date}
				</div>
			</div>
		</div>
		<img id="eventBanner" src={event.banner} alt="" />
		<p id="eventDescription">{@html event.description}</p>
	</pagebody>
{/if}

<style>
	#eventDescription {
		text-align: start;
	}

	:global(#eventDescription p) {
		color: rgba(255, 255, 255, 0.818) !important;
	}

	:global(#eventDescription p a) {
		color: rgba(0, 255, 255, 0.712);
	}

	#titleContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}

	#eventBanner {
		width: 100%;
		margin-bottom: 40px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
		border-radius: 15px;
	}

	#titleBlobs {
		display: flex;
		flex-direction: row;
	}

	.title {
		margin-bottom: 10px;
	}

	.timeBlob {
		text-decoration: none;
		color: rgb(217, 217, 217);
		background-color: rgba(255, 255, 255, 0.148);
		font-size: 14px;
		padding: 7px;
		padding-right: 8px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-radius: 7px;
		margin-right: 5px;
		white-space: nowrap;
		line-break: strict;
		margin-bottom: 5px;
		width: fit-content;
	}

	pagebody {
		padding-top: 20px;
	}
</style>
