<script lang="ts">
	import { onMount } from 'svelte';
	import { fade, slide } from 'svelte/transition';
	import Loading from '../../components/Loading.svelte';

	interface Metar {
		cavok: boolean;
		pressure: number;
		trend_forecast: string;
		remarks: string;
		raw: string;

		identification: {
			corrected: boolean;
			location: string;
			automatic: boolean;
			issued: string;
			outdated: boolean;
		};
		surface_wind: {
			wind_direction: number;
			variable: boolean;
			wind_speed: number;
			gust: boolean;
			maximum_wind_speed: number;
			unit: string;
			wind_variable_from: number;
			variability: boolean;
			wind_variable_to: number;
		};
		visibility: {
			prevailing_visibility: number;
			lowest_visibility: number;
			lowest_visibility_direction: number;
		};
		runway_visual_range: {
			runway: string;
			modifier: string;
			value: number;
			tendency: string;
		}[];
		present_weather: {
			intensity: string;
			descriptor: string;
			precipitation: string;
			obscuration: string;
			other: string;
		}[];
		clouds: {
			cloud_amount: 'FEW' | 'SCT' | 'BKN' | 'OVC';
			height_of_base: string;
			cloud_type: string;
		}[];
		temperatures: {
			air_temperature: number;
			dew_point_temperature: number;
		};
		wind_shear: {
			runway: number;
			all_runways: boolean;
		}[];
	}

	async function getMetars(): Promise<Metar[]> {
		const url = 'https://meteo.vatsim.pt/api/v1/ipma/metar/all';
		const response = await fetch(url);
		const metars = (await response.json()) as Metar[];
		return metars;
	}

	let metars: Metar[] = [];

	onMount(async () => {
		metars = await getMetars();
	});
</script>

<pagebody>
	<h1 class="title"><b>Weather</b> Information</h1>
	<p class="description">
		Weather information for Portuguese airports. <br /><b>For simulation use only.</b>
	</p>
	{#if metars.length > 0}
		<div id="airportEntriesContainer" in:fade={{ duration: 100 }}>
			{#each metars as metar}
				<a class="airportEntryContainer" href={'/weather/' + metar.identification.location}>
					<div class="airportEntryInfo">
						<span class="airportEntryIcao">{metar.identification.location}</span>
						<span class="airportEntryMetar"
							>{metar.raw.replace(metar.identification.location + ' ', '')}</span
						>
					</div>
					<i class="bi bi-caret-right-fill airportEntryArrow" />
				</a>
			{/each}
		</div>
	{:else}
		<Loading />
	{/if}
</pagebody>

<style>
	#airportEntriesContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 20px;
		padding-top: 50px;
	}

	.airportEntryContainer {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 15px;
		gap: 10px;
		background-color: rgba(0, 0, 0, 0.737);
		border-radius: 17px;
		outline: rgba(255, 255, 255, 0.189) 1px solid;
		/* box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.06); */
		justify-content: space-between;
		transition: all 0.05s;
	}

	.airportEntryContainer:hover {
		transition: all 0.05s;
		outline-width: 5px;
	}

	.airportEntryInfo {
		display: flex;
		flex-direction: row;
		gap: 15px;
		width: calc(100% - 35px);
	}

	.airportEntryIcao {
		color: white;
		font-size: 17px;
		font-weight: 600;
		font-family: monospace;
	}

	.airportEntryMetar {
		color: var(--color-accent-bright);
		/* background-color: rgb(0, 0, 0); */
		padding: 0 10px;
		width: 100%;
		font-family: monospace;
		text-align: start;
		white-space: nowrap;
		overflow-x: scroll;
		font-size: 14px;
		display: flex;
		align-items: center;
		/* box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.238); */
		/* border-radius: 10px; */
		border-right: 1px rgba(255, 255, 255, 0.112) solid;
		border-left: 1px rgba(255, 255, 255, 0.112) solid;
	}

	.airportEntryMetar::-webkit-scrollbar {
		height: 0;
	}

	.airportEntryArrow {
		color: rgb(255, 255, 255);
	}

	a {
		text-decoration: none;
	}
</style>
