<script lang="ts">
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';
	import Loading from '../../components/Loading.svelte';
	import SearchBox from '../../components/SearchBox.svelte';
	import natsort from 'natsort';

	interface TagSenseFlight {
		uid: string;
		callsign: string;
		origin: string;
		distance_to_origin: number;
		destination: string;
		distance_to_destination: number;
		tsat: string | null;
		squawk: string | null;
		sid: string | null;
		star: string | null;
		status: string | null;
		pressure_altitude: number;
		flight_level: number;
		stand: string | null;
		last_updated: number;
	}

	interface Box {
		title: string;
		description: string;
	}

	function sort_flights(flights: TagSenseFlight[]) {
		let sorted_flights: TagSenseFlight[] = structuredClone(flights);
		console.log(structuredClone(flights));
		for (let _current_index in sorted_flights) {
			let current_index = parseInt(_current_index);
			let current_flight = structuredClone(sorted_flights[current_index]);
			sorted_flights.splice(current_index, 1);
			if (current_flight.tsat === null) sorted_flights.push(current_flight);
			else {
				let flight_inserted: boolean = false;
				for (let _compare_index in sorted_flights) {
					let compare_index = parseInt(_compare_index);
					let compare_flight = structuredClone(sorted_flights[compare_index]);
					if (
						compare_flight.tsat === null ||
						parseInt(current_flight.tsat) >= parseInt(compare_flight.tsat)
					) {
						sorted_flights.splice(compare_index, 0, current_flight);
						console.log(current_flight);
						console.log(compare_flight);
						flight_inserted = true;
						break;
					}
				}
				if (!flight_inserted) sorted_flights.push(current_flight);
			}
		}
		console.log(sorted_flights);
		return sorted_flights;
	}

	function capitalize_titles(input: string): string {
		if (input === 'star' || input === 'sid' || input == 'tsat') return input.toUpperCase();
		const words = input.split(' ');
		const capitalizedWords = words.map((word) => {
			return word.charAt(0).toUpperCase() + word.slice(1);
		});
		return capitalizedWords.join(' ');
	}

	function generate_boxes(flights: TagSenseFlight[]) {
		let flights_boxes = [];
		for (let flight of flights) {
			let boxes: Box[] = [];
			for (let prop of prop_names) {
				if (prop === 'uid' || prop === 'last_updated') continue;
				//@ts-expect-error
				let value = flight[prop] as string | number | null;
				if (prop === 'distance_to_destination' || prop === 'distance_to_origin')
					value = Math.round(value as number).toString() + 'nm';
				boxes.push({
					title: value ? value.toString() : 'N/A',
					// description: attr.replaceAll('_', ' ')
					description: prop.replaceAll('_', ' ')
				});
			}
			flights_boxes.push(boxes);
		}
		return flights_boxes;
	}

	async function getFlights(): Promise<TagSenseFlight[]> {
		const url = 'https://tagsense.vatsim.pt/v0/flights?max_age=60';
		const response = await fetch(url);
		const flights = (await response.json()) as TagSenseFlight[];
		return flights;
	}

	let flights: TagSenseFlight[] = [];
	let flights_boxes: Box[][] = [];
	let loaded: boolean = false;
	let query: string = '';

	$: {
		query = query.toUpperCase();
		let flitered_flights: TagSenseFlight[] = [];
		for (let flight of flights) {
			if (flight.callsign.includes(query)) flitered_flights.push(flight);
		}
		flights_boxes = generate_boxes(flitered_flights);
	}

	var prop_names = ['callsign', 'origin', 'destination', 'tsat', 'sid', 'star', 'status', 'stand'];

	const load = async () => {
		try {
			flights = (await getFlights()).sort((a, b) =>
				natsort()(a.tsat ? a.tsat : '99999', b.tsat ? b.tsat : '99999')
			);

			flights_boxes = generate_boxes(flights);
		} finally {
			loaded = true;
		}
	};

	onMount(() => {
		load();
		setInterval(load, 1000 * 60);
	});
</script>

<pagebody>
	<h1 class="title"><b>Tag</b>Sense</h1>
	<p class="description">
		Access real-time details on your stand assignment, TSAT, and more.
	</p>
	{#if loaded}
		{#if flights.length > 0}
			<div id="topBarContainer">
				<div id="tagsenseCallsignSearchBoxContainer">
					<SearchBox bind:input={query} placeholder="Search for a callsign..." />
				</div>
				<div id="refreshButtonContainer">
					<button id="refreshButton" on:click={load}>
						<i id="refreshButtonIcon" class="bi bi-arrow-clockwise" />
					</button>
				</div>
			</div>
			<div
				id="flightStripsContainer"
				style={`grid-template-columns: ${'auto '.repeat(prop_names.length)};`}
			>
				{#each prop_names as prop_name}
					<div class="flightStripBox col flightStripsHeaderBox">
						<span class="flightStripsHeaderColumn">
							{capitalize_titles(prop_name.replaceAll('_', ' '))}
						</span>
					</div>
				{/each}
				{#each flights_boxes as boxes}
					{#each boxes as box}
						<div class="flightStripBox col">
							<span class="flightStripBoxTitle">{box.title}</span>
							{#if box.description}
								<span class="flightStripBoxDescription">{box.description}</span>
							{/if}
						</div>
					{/each}
				{/each}
			</div>
		{:else}
			<div id="notFoundContainer">
				<span id="notFoundText">No tags found.</span>
			</div>
		{/if}
	{:else}
		<div in:fade={{ duration: 300 }} out:fade={{ duration: 300 }}>
			<Loading />
		</div>
	{/if}
</pagebody>

<style>
	@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css';

	#topBarContainer {
		display: flex;
		flex-direction: row;
		width: calc(100%);
		margin-top: 40px;
		border: 1px black solid;
		height: 30px;
		margin-bottom: 20px;
	}

	#refreshButtonContainer {
		background-color: rgba(255, 255, 255, 0.119) !important;
		width: 30px;
		height: 28px !important;
		border: none;
		border-left: 1px black solid;
	}

	#refreshButton {
		background: transparent;
		border: none;
		transition: all 0.1s cubic-bezier(0, 0.53, 0.46, 0.99);
		color: white;
		height: 28px;
	}

	#refreshButton:hover {
		transition: all 0.1s cubic-bezier(0, 0.53, 0.46, 0.99);
		background-color: #ffffff;
		color: black;
		box-shadow: 0px 0px 20px #ffffff63;
	}

	#refreshButton:active {
		transition: all 0.1s cubic-bezier(0, 0.53, 0.46, 0.99);
		background-color: rgba(225, 225, 225, 0.854);
		color: black;
		box-shadow: 0px 0px 20px #ffffff63;
	}

	#tagsenseCallsignSearchBoxContainer {
		font-family: monospace;
		margin-bottom: 10px;
		width: 100%;
		border: none;
	}

	:global(#tagsenseCallsignSearchBoxContainer > div > svg) {
		height: 14px;
	}

	:global(#tagsenseCallsignSearchBoxContainer > div) {
		border-radius: 0px !important;
		background-color: rgba(255, 255, 255, 0.119) !important;
		height: 28px !important;
		border: none !important;
	}

	#notFoundContainer {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(100vh - 372px);
	}

	#notFoundText {
		color: white;
		font-weight: 600;
	}

	#flightStripsContainer {
		display: flex;
		flex-direction: column;
		display: grid;
		font-family: monospace;
		color: white;
		width: 100%;
		overflow: auto;
		max-height: calc(100vh - 372px);
		min-height: 26px;
		border: 1px black solid;
	}

	.flightStripsHeaderBox {
		background-color: rgba(255, 255, 255, 0.119) !important;
		text-align: center !important;
		height: 26px;
		border-bottom: 1px black solid;
	}

	.flightStripsHeaderColumn {
		white-space: nowrap;
		font-size: 13px;
		text-align: left !important;
	}

	.flightStripBox {
		display: flex;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.316);
		padding: 5px 5px 7px 12px;
		flex: 1;
		text-align: left;
	}

	.flightStripBox > span {
		margin: -3px;
	}

	.flightStripBoxTitle {
		font-weight: 600;
		font-size: 14px;
	}

	.flightStripBoxDescription {
		color: rgba(255, 255, 255, 0.379);
		font-size: 10px;
		white-space: nowrap;
	}
</style>
